.carousel {
    margin-bottom: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
  
  .optionsboxdown {
    background-color:#2e2d6e;;
    color: white;
    text-align: center;
    padding: 7px;
    font-size: 14px;
    height: 150px;
    margin-left: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
  }
  .optionsbox {
    background-color: #424242;
    color: aliceblue;
    font-size: 18px;
    margin-left: 1%;
    border-radius: 2px;
  }
  