<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeofPopUp" *ngIf="showPopup==1"></app-toastpopup>
<app-loader *ngIf="loader==true"></app-loader>
<app-sms></app-sms>
<br>
<div class="container-fluid">
    <form #doctorProfileform="ngForm">
        <div class="row">
            <div class="col-lg-12">
                <h5 class="headings">{{labels.doctor}}</h5>
            </div>
            <div class="col-lg-8"></div>
        </div>
        <br>
        <div class="card">
            <div class="row">
                <h4 class="sideheading">{{labels.personalInformation}}</h4>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <img src="{{photoUrl}}" style="width: 78%; height: 400px">
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control inputfield" id="floatingInput"
                                    placeholder="Doctor name" [(ngModel)]="doctorName" name="doctorName" disabled>
                                <label for="floatingInput" class="floatingLabel">{{labels.doctorName}}<span
                                        class="required">*</span></label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input (keypress)="numberOnly($event)" type="text" class="form-control inputfield" id="floatingInput"
                                    placeholder="Phone no" [(ngModel)]="phoneNo" name="phoneNo" disabled>
                                <label for="floatingInput" class="floatingLabel">{{labels.phoneNumber}}<span class="required">*</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input (keypress)="numberOnly($event)" type="email" class="form-control inputfield" id="floatingInput"
                                    placeholder="Hospital no" [(ngModel)]="phoneNo" name="phoneNo" disabled>
                                <label for="floatingInput" class="floatingLabel">{{labels.hospitalno}}<span class="required">*</span></label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input (ngModelChange)="isValidEmail(email)"  type="text" class="form-control inputfield" id="floatingInput"
                                    placeholder="Email" [(ngModel)]="email" name="email" disabled>
                                <label for="floatingInput" class="floatingLabel">{{labels.emailID}}<span class="required">*</span></label>
                                <span *ngIf="valid==false" class="emailvalidation">Please enter a valid Email ID</span>
                            </div>
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control inputfield" id="floatingInput"
                                    placeholder="Doctor name" [(ngModel)]="speakingLanguages" name="speakingLanguages" disabled>
                                <label for="floatingInput" class="floatingLabel">{{labels.speakingLanguages}}<span class="required">*</span></label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>{{labels.gender}}<span class="required">*</span> : </label> &nbsp;
                            <input type="radio" [value]="1" [(ngModel)]="gender" name="gender" disabled> {{labels.male}} &nbsp;
                            <input type="radio" [value]="2" [(ngModel)]="gender" name="gender" disabled> {{labels.female}} &nbsp;

                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                                    style="height: 80px;" [(ngModel)]="address" name="address" disabled></textarea>
                                <label for="floatingTextarea">{{labels.address}}<span class="required">*</span></label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <button class="cancel" disabled (click)="geocode()">{{labels.getLocation}}</button>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-6">
                            <select class="form-control" (change)="getCountryID($event)" [(ngModel)]="countryID" disabled
                                name="countryID">
                                <option value="">{{labels.selectCountry}}</option>
                                <option *ngFor="let cou of countryList" value="{{cou.id}}">{{cou.short}}</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <select class="form-control" (change)="GetRegionID($event)" [(ngModel)]="regionID" disabled
                                name="regionID">
                                <option value="0">{{labels.select}}</option>
                                <option *ngFor="let reg of regionList" value={{reg.id}}>{{reg.regionName}}</option>
                            </select>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-6">
                            <select class=" form-control" required [(ngModel)]="cityID" name="cityID" disabled
                                (change)="GetCityID($event)">
                                <option value="">{{labels.select}}</option>
                                <option *ngFor="let city of cityList" value="{{city.id}}">{{city.short}}</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <select class="form-control" required [(ngModel)]="areaID" name="areaID" disabled
                                (change)="GetAreaID($event)">
                                <option value="">{{labels.select}}</option>
                                <option *ngFor="let area of areaList" value={{area.id}}>{{area.areaName}}</option>
                            </select>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-6">
                            <select class="form-control" (change)="GetDepartmentID($event)" required disabled
                                [(ngModel)]="departmentID" name="departmentID">
                                <option value="0" selected>{{labels.selectDepartment}}</option>
                                <option *ngFor="let department of departmentList" value={{department.id}}>
                                    {{department.departmentname}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <select class="form-control" (change)="getSlotDurationID($event)" [(ngModel)]="slotID" disabled
                                name="slotID">
                                <option value="0" selected>{{labels.selectSlotType}}</option>
                                <option value="1">15 Minutes</option>
                                <option value="2">30 Minutes</option>
                                <option value="3">45 Minutes</option>
                                <option value="4">1 heure</option>
                            </select>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-6">
                            <select class="form-control" (change)="getDoctortype($event)" [(ngModel)]="doctorTypeID" disabled
                                name="doctorTypeID">
                                <option selected>{{labels.selectDoctoreType}}</option>
                                <option *ngFor="let doc of doctorTypeList" value="{{doc.id}}">{{doc.type}}</option>

                            </select>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control inputfield" id="floatingInput" disabled
                                    placeholder="Experience" [(ngModel)]="experience" name="experience">
                                <label for="floatingInput" class="floatingLabel">{{labels.experience}}</label>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" disabled
                                    [(ngModel)]="professionalProfile" name="professionalProfile"></textarea>
                                <label for="floatingTextarea">{{labels.proffessionalProfile}}</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- <label>Photo</label><br> -->
                            <ngx-dropzone (change)="onSelectDoctorPhoto($event)" class="dropZone">
                                <ngx-dropzone-label>{{labels.photo}}</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of files1" [removable]="true"
                                    (removed)="ondoctorPhotoRemove(f)">
                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                            </ngx-dropzone>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>{{labels.documentsVerified}}</label>&nbsp;
                            <input type="radio" [value]="true" [(ngModel)]="documentsVerified" disabled
                                name="documentsVerified">&nbsp;{{labels.yes}} &nbsp;
                            <input type="radio" [value]="false" [(ngModel)]="documentsVerified" disabled
                                name="documentsVerified">
                            {{labels.no}} &nbsp;
                        </div>
                        <div class="col-lg-6">
                            <label>{{labels.mallPractice}}</label>&nbsp;
                            <input type="radio" [value]="true" [(ngModel)]="mallPractise" name="mallPractise" disabled>
                            {{labels.yes}} &nbsp;
                            <input type="radio" [value]="false" [(ngModel)]="mallPractise" name="mallPractise" disabled>
                            {{labels.no}} &nbsp;
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-10">
                            <label>{{labels.refferedDoctor}}</label>&nbsp;
                            <input type="radio" [value]="true" [(ngModel)]="refferedDoctor" name="refferedDoctor" disabled>
                            {{labels.yes}}
                            &nbsp;
                            <input type="radio" [value]="false" [(ngModel)]="refferedDoctor" name="refferedDoctor" disabled>
                            {{labels.no}}
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="card">
            <div class="row">
                <h4 class="sideheading">{{labels.medicalRegistration}}</h4>
            </div> <br>
            <div class="row">

                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control inputfield" id="floatingInput"
                            [(ngModel)]="registrationNumber" name="registrationNumber" placeholder="Registraion Number" disabled>
                        <label for="floatingInput" class="floatingLabel">{{labels.registrationNumber}}</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control inputfield" id="floatingInput"
                            [(ngModel)]="registrationCounsil" name="registrationCounsil" disabled
                            placeholder="Registraion Council">
                        <label for="floatingInput" class="floatingLabel">{{labels.registrationCouncil}}</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control inputfield" id="floatingInput"
                            [(ngModel)]="registrationYear" name="registrationYear" placeholder="Registraion Year" disabled>
                        <label for="floatingInput" class="floatingLabel">{{labels.registrationYear}}</label>
                    </div>
                </div>
            </div><br>

            <div class="row">

                <!-- <div class="col-lg-4">
                <input type="text" placeholder="{{labels.validTill}}" class="form-control" [(ngModel)]="validTill" bsDatepicker
                    [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }"
                    (ngModelChange)="getExonerationPerioddate(exonerationPeriodFromDate)">
            </div> -->
                <!-- <div class="col-lg-4">
               
                <ngx-dropzone (change)="onSelectregistrationProof($event)" style="width:100% ;height: auto;">
                    <ngx-dropzone-label>{{labels.registrationProof}}</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files3" [removable]="true"
                        (removed)="onRemoveMedicalRegistartion(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
            </div> -->
            </div>
        </div>
        <br>
        <div class="card">
            <div class="row">
                <h4 class="sideheading">{{labels.education}}</h4>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3">
                    <select class="dropdown form-control" (change)="GetDegreeID($event)" disabled>
                        <option value="" selected>{{labels.selectDegree}}</option>
                        <option *ngFor="let degree of degreeList" value={{degree.id}}>{{degree.short}}</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control inputfield" id="floatingInput" placeholder="College" disabled
                            [(ngModel)]="colleageName" name="colleageName">
                        <label for="floatingInput" class="floatingLabel">{{labels.college}}</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control inputfield" id="floatingInput" disabled
                            [(ngModel)]="yearOfPassing" name="yearOfPassing" placeholder="Year of Passing">
                        <label for="floatingInput" class="floatingLabel">{{labels.yearofPassing}}</label>
                    </div>
                </div><br>
                <div class="col-lg-3">
                    <button class="save" disabled (click)="insertdoctoreducation()">{{labels.add}}</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table>
                        <thead>
                            <tr>
                                <th>{{labels.degree}}</th>
                                <th>{{labels.college}}</th>
                                <th>{{labels.yearofPassing}}</th>
                            </tr>
                            <tr *ngFor="let edu of educationList">
                                <td>{{edu.short}}</td>
                                <td>{{edu.collegeName}}</td>
                                <td>{{edu.yearOfPassing}}</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <br>

        </div>
        <br>

        <div class="card">
            <div class="row">
                <h4 class="sideheading">{{labels.businessRegistrationAndInvoicing}}</h4>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control inputfield" id="floatingInput" disabled
                            [(ngModel)]="taxIdentification" name="taxIdentification" placeholder="Tax identification ">
                        <label for="floatingInput" class="floatingLabel">{{labels.taxIdentification}}</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-floating mb-3"> 
                        <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Business ID" disabled
                            [(ngModel)]="businessID" name="businessID">
                        <label for="floatingInput" class="floatingLabel">{{labels.businessID}}</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control inputfield" id="floatingInput" disabled
                            placeholder="Commercial registration & city" [(ngModel)]="commercialCity"
                            name="commercialCity">
                        <label for="floatingInput"
                            class="floatingLabel">{{labels.commercialRegistrationAndCity}}</label>
                    </div>
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control inputfield" id="floatingInput" disabled
                            placeholder="Tax professional" [(ngModel)]="taxProfessional" name="taxProfessional">
                        <label for="floatingInput" class="floatingLabel">{{labels.taxProffessional}}</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control inputfield" id="floatingInput" disabled
                            placeholder="Social security fund no" [(ngModel)]="socialSeccurityFundno"
                            name="socialSeccurityFundno">
                        <label for="floatingInput" class="floatingLabel">{{labels.socialSecurityfundno}}</label>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="row">
                <h4 class="sideheading">{{labels.bankDetails}}</h4>
            </div><br>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control inputfield" id="floatingInput" disabled
                            placeholder="Name Of The Bank" [(ngModel)]="nameOfBank" name="nameOfBank">
                        <label for="floatingInput" class="floatingLabel">{{labels.nameofthebank}}</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Account Name" disabled
                            [(ngModel)]="accountName" name="accountName">
                        <label for="floatingInput" class="floatingLabel">{{labels.accountName}}</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control inputfield" id="floatingInput" disabled
                            placeholder="Account Number" [(ngModel)]="accountNumber" name="accountNumber">
                        <label for="floatingInput" class="floatingLabel">{{labels.accountNumber}}</label>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label>{{labels.exornated}}</label>&nbsp;
                    <input type="radio" [value]="1" [(ngModel)]="vatCheck" name="vatCheck" disabled>&nbsp;{{labels.yes}}&nbsp;
                    <input type="radio" [value]="0" [(ngModel)]="vatCheck" name="vatCheck" disabled>&nbsp;{{labels.no}}
                </div>

                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control inputfield" id="floatingInput" disabled
                            placeholder="Vat percentage" [(ngModel)]="vatPercentage" name="vatPercentage">
                        <label for="floatingInput" class="floatingLabel">{{labels.vatPercentage}}</label>
                    </div>
                </div>
                <div class="col-lg-3" *ngIf="vatCheck==1">
                    <input type="text" placeholder="Exoneration Period FromDate" class="form-control"
                        [(ngModel)]="exonerationPeriodFromDate"  name="exonerationPeriodFromDate" bsDatepicker
                        [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }"
                        (ngModelChange)="getExonerationPerioddate(exonerationPeriodFromDate)">
                </div>
                <div class="col-lg-3" *ngIf="vatCheck==1">
                    <input type="text" placeholder="Exoneration Perio To Date" class="form-control"
                        [(ngModel)]="exonerationPerioToDate" name="exonerationPerioToDate"  bsDatepicker
                        [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <label>{{labels.subscriptionType}}</label> &nbsp;
                    <input type="radio" [value]="1" [(ngModel)]="subscriptionTypeID" name="subscriptionTypeID" disabled>
                    {{labels.monthly}}&nbsp;
                    <input type="radio" [value]="2" [(ngModel)]="subscriptionTypeID" disabled
                        name="subscriptionTypeID">&nbsp;{{labels.appointmentPercentage}}
                    &nbsp;
                    <input type="radio" [value]="3" [(ngModel)]="subscriptionTypeID" name="subscriptionTypeID" disabled>
                    {{labels.both}} &nbsp;
                </div>
            </div><br>
            <div class="row">
                <div class="col-lg-3" *ngIf="subscriptionTypeID==1||subscriptionTypeID==3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control inputfield" id="floatingInput" disabled
                            placeholder="Exoneration period to" [(ngModel)]="montlySubscription"
                            name="montlySubscription">
                        <label for="floatingInput" class="floatingLabel">{{labels.monthly}}</label>
                    </div>
                </div><br>
                <div class="col-lg-3" *ngIf="subscriptionTypeID==2||subscriptionTypeID==3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control inputfield" id="floatingInput" disabled 
                            placeholder="AppointmentPercentage" [(ngModel)]="AppointmentPercentage"
                            name="AppointmentPercentage">
                        <label for="floatingInput" class="floatingLabel">{{labels.appointmentPercentage}}</label>
                    </div>
                </div><br>

            </div>
            <!-- <div class="row">
            <div class="col-lg-9"></div>
            <div class="col-lg-2">
                <button type="button" class="save" (click)="updatedetails()">{{labels.update}}</button>
            </div>
            <div class="col-lg-1">
                <button type="button" class="save" routerLink="/countrymanager/Doctordash">{{labels.back}}</button>
            </div>
        </div> -->

        </div>
        <br>
    </form>
</div>