.dropdown {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 13px;
    /* font-weight: bold; */
    line-height: 1.5;
    /* color: #212529; */
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 12px;
    height: 50px;
  }

  .tableHeight
  {
    overflow: auto;
    height:300px
  }

  .dropzone{
    width: 100%;
    height: 70px;
  }