<app-loader *ngIf="loader==true"></app-loader>
<app-sms></app-sms>
<div class="container-fluid headercard card-hover headerspace">
    <div class="row">
        <div class="col-lg-8">
            <h5 class="headings">{{labels.smsDashboard}}</h5>
        </div>
    </div>
</div>
<div class="container-fluid card card-hover headerspace">
    <div class="row">
        <div class="col-lg-3">
            <input type="text"
            placeholder="{{labels.selectDate}}"
            class="form-control"
            bsDaterangepicker
            [(ngModel)]="bsRangeValue" (ngModelChange)="selectDate(bsRangeValue)"
            [bsConfig]="{ isAnimated: true }">
        </div>
        <div class="col-lg-3">
            <div class="form-floating mb-3">
                <input type="email" class="form-control inputfield" id="floatingInput"   placeholder="Search" [(ngModel)]="search" name="search">
                <label for="floatingInput" class="floatingLabel">{{labels.search}}</label>
              </div>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-2 countClass">
            <label>{{labels.count}} : {{count}} </label>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-12 tableoverflow">
            <table class="table table-hover" id="download">
                <tr>
                   <th>{{labels.date}}</th>
                   <th>{{labels.patientName}}</th>
                   <th>{{labels.phoneNumber}}</th>
                   <th>{{labels.message}}</th>
                   <th>{{labels.email}}</th>
                </tr>
                <tr *ngFor="let list of PatientList|filter:search| paginate: { id: 'foo', itemsPerPage: 10, currentPage: p}">
                    <td>{{list.date}}</td>
                    <td>{{list.patientName}}</td>
                    <td>{{list.mobileNumber}}</td>
                    <td>{{list.message}}</td>
                    <td>{{list.emailID}}</td>
                  </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-12" style="text-align: end">
        <pagination-controls id="foo" (pageChange)="pageChanged($event)" previousLabel="{{labels.previous}}" nextLabel="{{labels.next}}"
            screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div>
</div>
