<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeofPopUp" *ngIf="showPopup==1"></app-toastpopup>
<app-loader *ngIf="loader==true"></app-loader>
<app-sms></app-sms>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h5 class="headings">{{labels.creatingfolder}}</h5>
        </div>
        <div class="col-lg-8"></div>
    </div>
    <br>
    <div class="card">
        <form #createForm="ngForm">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Email" required
                            [(ngModel)]="folderName" name="folderName" >
                        <label for="floatingInput" class="floatingLabel">{{labels.foldername}}<span
                                class="required">*</span></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1">
                    <button type="button" class="cancel" routerLink="/Doctor/FolderDash">{{labels.back}}</button>
                </div>
                <div class="col-lg-9">
                </div>
                <div class="col-lg-2">
                    <button type="button" class="save" (click)="InsertDetails()"
                        [disabled]="createForm.form.invalid" *ngIf="showEdit==0">{{labels.save}}</button>

                        <button type="button" class="save" (click)="UpdateDoctors_PersonalFolder()"
                        [disabled]="createForm.form.invalid" *ngIf="showEdit==1">{{labels.update}}</button>
                </div>
            </div>
        </form>
    </div>