<app-loader *ngIf="loader==true"></app-loader>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h5 class="headings">{{labels.profile}}</h5>
        </div>
        <div class="col-lg-8"></div>
    </div>
    <br>
    <div class="card">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Name" disabled
                        name="name" [(ngModel)]="name">
                    <label for="floatingInput" class="floatingLabel">{{labels.name}}</label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Phone Number" disabled
                        name="phonenumber" [(ngModel)]="phoneno">
                    <label for="floatingInput" class="floatingLabel">{{labels.phoneNumber}}</label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control inputfield" id="floatingInput" placeholder="emialID" disabled
                        name="emailid" [(ngModel)]="email">
                    <label for="floatingInput" class="floatingLabel">{{labels.emailID}}</label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" disabled
                        name="Address" [(ngModel)]="address"></textarea>
                    <label for="floatingTextarea">{{labels.address}}</label>
                </div>
            </div>
        </div> <br>
         
    </div>
    <br>
    

  
</div>

