<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeofPopUp" *ngIf="showPopup==1"></app-toastpopup><app-loader *ngIf="loader==true"></app-loader>
<app-sms></app-sms>
<div class="container-fluid headercard card-hover headerspace">
    <div class="row">
        <div class="col-lg-8">
            <h5 class="headings">{{labels.offerdashboard}}</h5>
        </div>
        <div class="col-lg-4 col-sm-6 buttonsss">
            <button class="save" routerLink="/Diagnostic/DiagnosticSpecialOffersDetails/">{{labels.add}}</button>&nbsp;
        </div>
    </div>
</div>
<div class="container-fluid card card-hover headerspace">
    <div class="row">
        <div class="col-lg-3">
            <div class="form-floating mb-3">
                <input type="email" class="form-control inputfield" id="floatingInput" placeholder="Search" [(ngModel)]="search">
                <label for="floatingInput" class="floatingLabel">{{labels.search}}</label>
              </div>
        </div>
        <div class="col-lg-7"></div>
          <div class="col-lg-2 countClass">
            <label>{{labels.count}} : {{count}}</label>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-lg-12 tableoverflow">
            <table class="table table-hover">
                <tr>
                   <th>{{labels.offerName}}</th>
                   <th>{{labels.offerdescription}}</th>
                   <th>{{labels.promotionalPrice}}</th>
                   <th>{{labels.startDate}}</th>
                   <th>{{labels.endDate}}</th>
                   <th>{{labels.photo}}</th>
                   <th>{{labels.actions}}</th>
                </tr> 
                <tr
                *ngFor="let details of diagnosticlist|filter:search| paginate: { id: 'foo', itemsPerPage: 10, currentPage: p}">
                <td>{{details.offerName}}</td>
                <td>{{details.description}}</td>
                <td>{{details.offer}}</td>
                <td>{{details.sdate}}</td>
                <td>{{details.edate}}</td>
                <td>
                  <label *ngIf="details.photoURL=='NULL'">{{labels.noPhoto}}</label>
                  <span *ngIf="details.photoURL!='NULL'">
                    <img src="{{details.photoURL}}" style="height:50px;width:50px;" />
                  </span>
                </td>
                <td>
                    <img src="assets/Icons/delete.png"  (click)="deletediagnosticoffers(details.id)">
                    <img src="assets/Icons/edit.png" (click)="edit(details.id)">
                </td>
              </tr>    
            </table>
        </div>
    </div>
    <div class="col-lg-12" style="text-align: end">
        <pagination-controls id="foo" (pageChange)="pageChanged($event)" previousLabel="{{labels.previous}}" nextLabel="{{labels.next}}"
            screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div>
</div>





















