<app-loader *ngIf="loader==true"></app-loader>
<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeofPopUp" *ngIf="showPopup==1"></app-toastpopup>
<app-register-provider-sm-s></app-register-provider-sm-s>
<div class="container-fluid headercard card-hover headerspace">
    <div class="row">
        <div class="col-lg-8">
            <h5 class="headings">{{labels.doctorheading}}</h5>
        </div>
    </div>
</div>
<div class="container-fluid card card-hover headerspace">
    <div class="row">
        <div class="col-lg-3">
            <div class="form-floating mb-3">
                <input type="email" class="form-control inputfield" id="floatingInput" placeholder="Search">
                <label for="floatingInput" class="floatingLabel">{{labels.search}}</label>
            </div>
        </div>
        <div class="col-lg-6"></div>
    </div>
    <br>
    <div class="row ">
        <div class="col-lg-12 tableoverflow">
            <table class="table table-hover">
                <tr>
                    <th>{{labels.doctor}}</th>
                    <th>{{labels.username}}</th>
                    <th>{{labels.currentpassword}}</th>
                    <th>{{labels.actions}}</th>
                </tr>
                <tr *ngFor="let details of doctorloginlist">
                    <td>{{details.doctorName}}</td>
                    <td>{{details.userName}}</td>
                    <td>{{details.encryptPassword}}</td>
                    <td>
                        <img src="assets/Icons/view_16.png" (click)="GetDeatsils(details)" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                        <img src="assets/Icons/email1.png" (click)="sendmail(details)">
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>



<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content card">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{labels.verificationofyouridentity}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row" *ngIf="Showpassword=='0'">
                    <div class="col-lg-9">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control inputfield" id="floatingInput"
                                placeholder="Enter Pin" [(ngModel)]="Enteredpinno" name="Enteredpinno">
                            <label for="floatingInput" class="floatingLabel">{{labels.enteryourpin}}</label>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="Showpassword=='0'">
                    <div class="col-lg-9">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control inputfield" id="floatingInput" required
                                [(ngModel)]="entercurrentpwd" name="entercurrentpwd" placeholder="Password">
                            <label for="floatingInput" class="floatingLabel">{{labels.password}}</label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button class="save" (click)="CheckPasswordvalidate()">{{labels.validate}}</button>
                    </div>
                </div>
                <div *ngIf="Showpassword=='1'">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control inputfield" id="floatingInput" disabled
                                    name="mypinno" required [(ngModel)]="mypinno">
                                <label for="floatingInput" class="floatingLabel">{{labels.pin}}</label>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control inputfield" id="floatingInput" disabled
                                    name="username" required [(ngModel)]="username">
                                <label for="floatingInput" class="floatingLabel">{{labels.username}}</label>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control inputfield" id="floatingInput" name="oldpassword"
                                    required [(ngModel)]="oldpassword">
                                <label for="floatingInput" class="floatingLabel">{{labels.password}}</label>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <div class="form-floating mb-3">
                                <input type="text" (keypress)="removeHash($event)" class="form-control inputfield"
                                    id="floatingInput" required [(ngModel)]="password" name="password"
                                    placeholder="New password">
                                <label for="floatingInput" class="floatingLabel">{{labels.newpassword}}</label>
                                <span *ngIf="pp=='1'" style="color:red">{{labels.weakpassword}}</span>
                                <span *ngIf="showMsg==1"  style="color:red">{{labels.hashMessage}}</span>

                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                        </div>
                        <div class="col-lg-4">
                            <button type="button" class="btn allbtns btncolor" 
                                (click)="showPopUp()">{{labels.update}}</button>
                        </div>
                        <div class="col-lg-3">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="save" data-bs-dismiss="modal" id="close">{{labels.back}}</button>
            </div>
        </div>
    </div>
</div>













<div class="modal fade" id="errorModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content card card-hover">

            <div class="modal-body">
                <div>
                    <p>{{labels.changePwd}}</p>
                </div>
                <div class="main">
                    <button class="yes" (click)="insertdetails()">{{labels.yes}}</button>
                    <button class="no" (click)="hidePopUp()">{{labels.no}}</button>
                </div>
            </div>

        </div>
    </div>
</div>