<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeofPopUp" *ngIf="showPopup==1"></app-toastpopup>
<app-loader *ngIf="loader==true"></app-loader>
<app-sms></app-sms>
<app-register-provider-sm-s></app-register-provider-sm-s>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h5 class="headings">{{labels.addreceptionist}}</h5>
        </div>
        <div class="col-lg-8"></div>
    </div>
    <br>
    <div class="card">
        <form #hospitalreceptionistForm="ngForm">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control inputfield" id="floatingInput" placeholder="Name"
                            [(ngModel)]="name" name="name" required>
                        <label for="floatingInput" class="floatingLabel">{{labels.name}}<span class="required">*</span></label>
                    </div>
                </div>
                <div class="col-lg-1">
                    <select class="form-control" style="width: 97px;"  (change)="getCountryCode($event)" [(ngModel)]="countryCode" name="countryCode">
                        <option value="0">{{labels.select1}}</option>
                        <option value="" *ngFor="let country of countryCodeList" value="{{country.countryCodeInt}}">{{country.countryCodeNew}}</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input (keypress)="numberOnly($event)"  type="text" class="form-control inputfield" id="floatingInput" placeholder="Phone Number"
                            [(ngModel)]="phoneno" name="phoneno" (ngModelChange)="preventHospitalnoZero(phoneno)" required>
                        <label for="floatingInput" class="floatingLabel">{{labels.phoneNumber}}<span class="required">*</span></label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control inputfield" id="floatingInput" placeholder="emialid"
                            [(ngModel)]="email" name="email" (ngModelChange)="isValidEmail(email)" required>
                        <label for="floatingInput" class="floatingLabel">{{labels.email}}<span class="required">*</span></label>
                        <span *ngIf="valid==false" class="emailvalidation">{{labels.validEmail}}</span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control inputfield" id="floatingInput" placeholder="password"
                            [(ngModel)]="username" name="username" required>
                        <label for="floatingInput" class="floatingLabel">{{labels.userName}}<span class="required">*</span></label>
                    </div>
                </div>
            </div> <br>
            <div class="row">
                <div class="col-lg-10"></div>
                <div class="col-lg-1">
                    <button type="button" class="save" (click)="insertdetails()" [disabled]="hospitalreceptionistForm.form.invalid">{{labels.adder}}</button>
                </div>
                <div class="col-lg-1">
                    <button type="button" class="save"
                        routerLink="/HospitalClinic/HospitalRecepsistDash">{{labels.back}}</button>
                </div>
            </div>
        </form>
    </div>
    <br>
</div>