@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
	background: #EEEEEE;
	font-family: 'Roboto', sans-serif;

}
.card{
	width: 400px;
	border: none;
	border-radius: 15px;
	height: 470px
}
.adiv{
	background: #31c1f0;
	border-radius: 15px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	font-size: 13px;
	height: 46px;
}
.chat{
	border: none;
	background: #E2FFE8;
	font-size: 13px;
	border-radius: 20px;
	display: inline;

}
.bg-white{
	border: 1px solid #E7E7E9;
	font-size: 13px;
	border-radius: 20px;
	display: inline;
}
.myvideo img{
	border-radius: 20px
}
.dot{
	font-weight: bold;
}
.form-control{
	border-radius: 12px;
	border: 1px solid #F0F0F0;
	font-size: 15px;
	height: 69px;
}
.form-control:focus{
	box-shadow: none;
	}
.form-control::placeholder{
	font-size: 13px;
	color: #C4C4C4;
}

.chatbutton{
	padding: 5px;
	width: 70px;
	background-color: #f18235;
	border-radius: 10px;
	border: none;
	display: inline;
	color: white;
}