.inputfield{
    border-radius: 12px;
    height: 40px;
  }
  .floatingLabel{
    line-height: 0px;
  }

  
.main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.yes{
  padding: 10px;
  background-color: rgb(28, 121, 28);
  border-radius: 8px;
  border: none;
  width: 100px;
  color: white;
}
.no{
  padding: 10px;
  background-color: rgb(218, 82, 82);
  border-radius: 8px;
  border: none;
  width: 100px;
  color: white;
}

p{
  color: rgb(133, 133, 232);
  font-size: 20px;
  font-weight: 900;
}