.inputfield{
    border-radius: 12px;
    height: 40px;
  }
  .floatingLabel{
    line-height: 0px;
  }


  .Accept {
    padding: 5px;
    border: 2px solid green;
    color: green;
    border-radius: 10px;
    font-weight: 600;
    width: 100px;
  }
  
  
  .Accept:hover {
    padding: 5px;
    border: 2px solid green;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    width: 100px;
    background-color: green;
    color: white;
  }
  
  
  .Cancel {
    padding: 5px;
    border: 2px solid red;
    color: red;
    border-radius: 10px;
    font-weight: 600;
    width: 100px;
    margin-top: 5px;
  }
  
  .Cancel:hover{
    padding: 5px;
    border: 2px solid red;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    width: 100px;
    margin-top: 5px;
    background-color: red;
  }



  .orderready {
    padding: 5px;
    border: 2px solid #35BDD0;
    color: #35BDD0;
    border-radius: 10px;
    font-weight: 600;
    width: 100px;
    margin-top: 5px;
  }
  
  .orderready:hover{
    padding: 5px;
    border: 2px solid #35BDD0;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    width: 100px;
    margin-top: 5px;
    background-color: #35BDD0;
  }




  .delivery {
    padding: 5px;
    border: 2px solid #00D84A;
    color: #00D84A;
    border-radius: 10px;
    font-weight: 600;
    width: 100px;
    margin-top: 5px;
  }
  
  .delivery:hover{
    padding: 5px;
    border: 2px solid #00D84A;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    width: 100px;
    margin-top: 5px;
    background-color: #00D84A;
  }




  
  .deliverycompany {
    padding: 5px;
    border: 2px solid #E03B8B;
    color: #E03B8B;
    border-radius: 10px;
    font-weight: 600;
    width: 100px;
    margin-top: 5px;
  }
  
  .deliverycompany:hover{
    padding: 5px;
    border: 2px solid #E03B8B;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    width: 100px;
    margin-top: 5px;
    background-color: #E03B8B;
  }


  .dropzone{
    width: 100%;
    height: 70px;
  }


  
table,
tr{

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  /* line-height: 17px;        */
  /* color: #0C275A; */
  text-align: center;

}

td{

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  /* line-height: 17px;        */
  /* color: #0C275A; */
  text-align: center;
  border-bottom: 2px solid lightgray;
}


table {
  font-family: 'Poppins', sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
}

th {
  background-color: #322B6B;
  color: white;
  text-align: center;
  padding: 5px;
  /* border: 1px solid #dddddd; 
     border: 1px solid gray; */
}



.chatbox{
  padding: 5px;
  border: 2px solid darkblue;
  color: darkblue;
  border-radius: 10px;
  font-weight: 600;
  width: 100px;
  margin-top: 5px;
  background: none;
  font-size: 10px;
}

.chatbox .badge {
  position: absolute;
  /* top: -10px;
  right: -10px; */
  padding: 1px 5px;
  border-radius: 50%;
  background: green;
  color: white;
  margin-left: 10px;

}


.chat {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-end; */
  position: fixed;
  top: 25%;
 right: 0%;
}
