<app-sms></app-sms>
<app-loader *ngIf="loader==true"></app-loader>
<div class="container-fluid headercard card-hover headerspace">
    <div class="row">
        <div class="col-lg-12">
            <h5 class="headings">{{labels.emr}}</h5>
        </div>
    </div>
</div>
<br>

<div class="container-fluid headercard card-hover headerspace">
    <div class="row">
        <div class="col-lg-12">
            <h5 class="headings">{{labels.patientDetails}}</h5>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <label>{{labels.name}}: <span class="patientDetails">{{patientname}}</span></label>
        </div>
        <div class="col-lg-4">
            <label>{{labels.phonenumber}} : <span class="patientDetails">{{mobileno}}</span></label>
        </div>
        <div class="col-lg-4">
            <label>{{labels.emialID}} : <span class="patientDetails">{{emailid}}</span></label>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <label>{{labels.gender}} : <span class="patientDetails">{{gender}}</span></label>
        </div>
        <div class="col-lg-4">
            <label>{{labels.address}} : <span class="patientDetails">{{address}} </span></label>
        </div>
        <div class="col-lg-4">
            <label>{{labels.bloodGroup}} : <span class="patientDetails">{{bloodgroup}} </span></label>
        </div>
        <div class="col-lg-4">
            <label>{{labels.age}} : <span class="patientDetails">{{age}} ({{dateofBirth}})</span></label>
        </div>
    </div>
    <br>
</div>
<br>


<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-6 tableoverflow card card-hover tableheight">
            <label class="headings">{{labels.patientDetails}}</label>
            <br>
            <table class="table table-striped ">
                <tr>
                    <th>{{labels.appointmentDate}}</th>
                    <th>{{labels.appointmentNumber}}</th>
                    <th>{{labels.providename}}</th>
                    <th>{{labels.phonenumber}}</th>
                    <th>{{labels.view}}</th>
                </tr>
                <tr *ngFor="let app of Appointmentlist">
                    <td>{{app.appointDate}}</td>
                    <td>{{app.id}}</td>
                    <td>{{app.doctorName}}</td>
                    <td>{{app.mobileNumber}}</td>
                    <td>
                        <a>
                            <img src="assets/Icons/ViewDetails.png" (click)="showmedicalquestionare(app)"
                                data-bs-toggle="modal" data-bs-target="#Medicalquestionare" />
                        </a>
                    </td>
                </tr>
            </table>
        </div><br><br>
        <div class="col-lg-6 tableoverflow card card-hover">
            <label class="headings">{{labels.vaccinationDetails}}</label>
            <br>
            <table class="table table-striped">
                <tr>
                    <th style="text-align: center;">{{labels.vaccinationName}}</th>
                    <th>{{labels.date}}</th>
                </tr>
                <tr *ngFor="let vaccine of vaccinationlist">
                    <td>{{vaccine.vaccinationName}}</td>
                    <td>{{vaccine.vaccinationDate}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<br>



<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-6 tableoverflow card card-hover tableheight">
            <label class="headings">{{labels.medicines}}</label><br>
            <table class="table table-striped">
                <tr>
                    <th>{{labels.appointmentDate}}</th>
                    <th>{{labels.appointmentNumber}}</th>
                    <th>{{labels.patientName}}</th>
                    <th>{{labels.department}}</th>
                    <th>{{labels.doctorName}}</th>
                    <th>{{labels.phonenumber}}</th>
                    <th>{{labels.medicines}}</th>
                </tr>
                <tr *ngFor="let pre of prescriptionlist">
                    <td>{{pre.appdate}}</td>
                    <td>{{pre.appointmentID}}</td>
                    <td>{{pre.pName}}</td>
                    <td>{{pre.departmentname}}</td>
                    <td>{{pre.doctorName}}</td>
                    <td>{{pre.pMobileNo}}</td>
                    <td>
                        <a>
                            <img src="assets/Icons/ViewDetails.png" data-bs-toggle="modal"
                                data-bs-target="#Prescription" (click)="GetprscriptionID(pre.appointmentID)" />
                        </a>
                    </td>
                </tr>
            </table>
        </div><br><br>

        <div class="col-lg-6 tableoverflow card card-hover tableheight">
            <label class="headings">{{labels.diagnosticTests}}</label><br>
            <table class="table table-striped">
                <tr>
                    <th>{{labels.appointDate}}</th>
                    <th>{{labels.appointmentNumber}}</th>
                    <th>{{labels.doctorName}}</th>
                    <th>{{labels.department}}</th>
                    <th>{{labels.diagnosticTests}}</th>
                    <th>{{labels.rapports}}</th>
                </tr>
                <tr *ngFor="let dia of dialist">
                    <td>{{dia.appdate}}</td>
                    <td>{{dia.appointmentID}}</td>
                    <td>{{dia.doctorName}}</td>
                    <td>{{dia.departmentname}}</td>
                    <td>
                        <img src="assets/Icons/ViewDetails.png" 
                            (click)="getDiaTests(dia.appointmentID)" data-bs-toggle="modal"
                            data-bs-target="#DiagnosticTests" />
                    </td>
                    <td>
                        <img src="assets/Icons/Report.png" *ngIf="dia.reportUrl!='0'" title="Rapport"
                            (click)="GetReportPdf(dia.reportUrl)">
                    </td>
                </tr>
            </table>
        </div>
        <br>
    </div> <br>

</div>
<br>


<div class="container-fluid card card-hover ">
    <div class="row">
        <label class="headings">{{labels.soapNotesDoctor}}</label>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12 tableheight">
            <table class="table table-striped">
                <tr>
                    <th>{{labels.appointmentDate}}</th>
                    <th>{{labels.appointmentNumber}}</th>
                    <th>{{labels.doctorName}}</th>
                    <th>{{labels.department}}</th>
                    <th>{{labels.phonenumber}}</th>
                    <th>{{labels.soap}}</th>
                </tr>
                <tr *ngFor="let soap of soaplist1">
                    <td>{{soap.appointDate}}</td>
                    <td>{{soap.appointmentID}}</td>
                    <td>{{soap.doctorName}}</td>
                    <td>{{soap.departmentname}}</td>
                    <td>{{soap.mobileNumber}}</td>
                    <!-- <td>{{soap.reasonForVisit}}</td> -->
                    <td>
                        <a>
                            <img src="assets/Icons/ViewDetails.png" (click)="GetSoapID(soap.soapID)"
                            data-bs-toggle="modal"
                            data-bs-target="#SOAPNOTES" />
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<br>
<div class="container-fluid card card-hover ">
    <div class="row ">
        <label class="headings">{{labels.consultationDocumentsDoctors}}</label>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12 tableheight">
            <table class="table table-striped">
                <tr>
                    <th>{{labels.appointmentDate}}</th>
                    <th>{{labels.appointmentNumber}}</th>
                    <th>{{labels.documentType}}</th>
                    <th>{{labels.doctorName}}</th>
                    <th>{{labels.department}}</th>
                    <th>{{labels.phonenumber}}</th>
                    <th>{{labels.attachments}}</th>
                </tr>
                <tr *ngFor="let soap1 of DiaAttchmentList">
                    <td>{{soap1.appdate}}</td>
                    <td>{{soap1.appointmentID}}</td>
                    <td>{{soap1.type}}</td>
                    <td>{{soap1.doctorName}}</td>
                    <td>{{soap1.departmentname}}</td>
                    <td>{{soap1.pMobileNo}}</td>
                    <td>
                        <img src="assets/Icons/ViewDetails.png" (click)="GetPdfsss(soap1.photoUrl)" />
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>
<br>
<div class="container-fluid card card-hover">
    <div class="row">
        <label class="headings">{{labels.soapNotesHomeCare}}</label>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12 tableoverflow ">
            <table class="table table-striped">
                <tr>
                    <th>{{labels.appointmentDate}}</th>
                    <th>{{labels.appointmentNumber}}</th>
                    <th>{{labels.providename}}</th>
                    <th>{{labels.phonenumber}}</th>
                    <th>{{labels.soap}}</th>
                </tr>
                <tr *ngFor="let soap of homecaresoaplist">
                    <td>{{soap.appointDate}}</td>
                    <td>{{soap.appointmentID}}</td>
                    <td>{{soap.nurseName}}</td>
                    <td>{{soap.phoneNo}}</td>
                    <td>
                        <a>
                            <img src="assets/Icons/ViewDetails.png" (click)="GetSoapHomeCarelist(soap.soapID)"
                            data-bs-toggle="modal"
                            data-bs-target="#HomecareSoap"/>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<br>
<div class="container-fluid card card-hover">
    <div class="row">
        <label class="headings">{{labels.vitalDetails}}</label>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12 tableoverflow">
            <table class="table table-striped">
                <tr>
                    <th>{{labels.appointmentNumber}}</th>
                    <th>{{labels.date}}</th>
                    <th>{{labels.time}}</th>
                    <th>{{labels.bmp}}</th>
                    <th>{{labels.cmp}}</th>
                    <th>{{labels.oxygen}}</th>
                    <th>{{labels.stress}}</th>
                    <th>{{labels.bloodPressure}}</th>
                </tr>
                <tr *ngFor="let vital of vitalslist">
                    <td>{{vital.appointmentID}}</td>
                    <td>{{vital.date}}</td>
                    <td>{{vital.presentTime}}</td>
                    <td>{{vital.bpm}}</td>
                    <td>{{vital.rr}}</td>
                    <td>{{vital.oxygenSaturation}}</td>
                    <td>{{vital.streeLevel}}</td>
                    <td>
                        {{vital.bloodPressureStatus}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div><br>

<!-- Medical Questionare -->

<div class="modal fade" id="Medicalquestionare" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content card card-hover">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{labels.medicalQuestionare}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" style="overflow: auto;">
                        <div class="col-lg-12">
                            <table style="font-size: 14px;">
                                <tr>
                                    <th>{{labels.nationalIdentityno}}</th>
                                    <th>{{labels.height}}</th>
                                    <th>{{labels.weight}}</th>
                                    <th>{{labels.bMi}}</th>
                                    <th>{{labels.medicalHistory}}</th>
                                    <th>{{labels.surgeryHistory}}</th>
                                    <th>{{labels.longtermTreatment}}</th>
                                    <th>{{labels.vaccinationStatus}}</th>
                                    <th>{{labels.dietaryIssues}}</th>
                                    <th>{{labels.doyoudrinkalchohal}}</th>
                                    <th>{{labels.areYouSmoker}}</th>
                                    <th>{{labels.doyouExescise}}</th>
                                    <th>{{labels.medicalInsurance}}</th>
                                    <th>{{labels.allergies}}</th>
                                </tr>
                                <tr *ngFor="let view of viewdetaillist">
                                    <td>{{view.nationalidno}}</td>
                                    <td>{{view.height}}</td>
                                    <td>{{view.weight}}</td>
                                    <td>{{view.bmi}}</td>
                                    <td>{{view.medicalHistory}}</td>
                                    <td>{{view.surgeryHistory}}</td>
                                    <td>{{view.longtermTreatment}}</td>
                                    <td>{{view.vaccinationStatus}}
                                    </td>
                                    <td>{{view.dietaryIssues}}</td>
                                    <td>
                                        <p *ngIf="view.alcohol=='1'" style="margin-top: 14px;">Yes</p>
                                        <p *ngIf="view.alcohol=='0'" style="margin-top: 14px;"></p>
                                    </td>
                                    <td>
                                        <p *ngIf="view.smoker=='1'" style="margin-top: 14px;">Yes</p>
                                        <p *ngIf="view.smoker=='0'" style="margin-top: 14px;"></p>
                                    </td>
                                    <td>
                                        <p *ngIf="view.exercise=='1'" style="margin-top: 14px;">Yes</p>
                                        <p *ngIf="view.exercise=='0'" style="margin-top: 14px;"></p>
                                    </td>
                                    <td>
                                        <p *ngIf="view.medicalinsurance=='1'" style="margin-top: 14px;">Yes</p>
                                        <p *ngIf="view.medicalinsurance=='0'" style="margin-top: 14px;"></p>
                                    </td>
                                    <td>
                                        {{view.knownAllergies}}
                                        <!-- <img src="assets/Images/allergy.png" style="width: 17px;" data-toggle="modal" data-target="#Allergies" (click)="GetAllerges(view.knownAllergies)"> -->
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">{{labels.close}}</button>

            </div>
        </div>
    </div>
</div>








<!-- Preacsription -->

<div class="modal fade" id="Prescription" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content card card-hover">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{labels.previousPrescription}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 tableoverflow">
                            <table>
                                <thead>
                                    <tr>
                                        <th>{{labels.date}}</th>
                                        <th>{{labels.medicineName}}</th>
                                        <th>{{labels.sig}}</th>
                                        <th>{{labels.quantity}}</th>
                                        <th>{{labels.notetoPharmacist}}</th>
                                        <th>{{labels.substisute}}</th>
                                        <th>{{labels.howManyrefills}}</th>
                                        <th>{{labels.substituteMedicineName}}</th>
                                        <th>{{labels.sig}}</th>
                                        <th>{{labels.quantity}}</th>
                                    </tr>
                                    <tr *ngFor="let presciption of prelist">
                                        <td>{{presciption.date}}</td>
                                        <td [ngClass]="{'textstrike':presciption.substituteBit==true}">
                                            {{presciption.medicineName}}</td>
                                        <td [ngClass]="{'textstrike':presciption.substituteBit==true}">
                                            {{presciption.sig}}</td>
                                        <td [ngClass]="{'textstrike':presciption.substituteBit==true}">
                                            {{presciption.dispenseQuantity}}</td>
                                        <td>{{presciption.noteToPharmasist}}</td>
                                        <td>
                                            <span *ngIf="presciption.substainablenotPermitted=='1'">Yes</span>
                                            <span *ngIf="presciption.substainablenotPermitted=='2'">
                                                {{labels1.no}}</span>
                                        </td>

                                        <td>{{presciption.howmanyRefills}}</td>
                                        <td [ngClass]="{'substiutecolor':presciption.substituteBit==true}">
                                            {{presciption.subMedicineName}}</td>
                                        <td [ngClass]="{'substiutecolor':presciption.substituteBit==true}">
                                            {{presciption.subPhysology}}</td>
                                        <td [ngClass]="{'substiutecolor':presciption.substituteBit==true}">
                                            {{presciption.subQuantity}}</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">{{labels.close}}</button>

            </div>
        </div>
    </div>
</div>



<!-- Diagnostic TEsts -->

<div class="modal fade" id="DiagnosticTests" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content card card-hover">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{labels.tests}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <table>
                                <thead>
                                    <tr>
                                        <th>{{labels.test}}</th>
                                        <th>{{labels.testName}}</th>
                                        <th>{{labels.clinicInfo}}</th>
                                    </tr>
                                    <tr *ngFor="let dia of appointmentDialist">
                                        <td>{{dia.name}}</td>
                                        <td>{{dia.testName}}</td>
                                        <td>{{dia.clinicalInfo}}</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">{{labels.close}}</button>

            </div>
        </div>
    </div>
</div>



<!-- SOap Notes -->


<div class="modal fade" id="SOAPNOTES" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content card card-hover">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{labels.soap}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <table>
                                <thead>
                                    <tr>
                                        <th>{{labels.subjective}}</th>
                                        <th>{{labels.objective}}</th>
                                        <th>{{labels.assessment}}</th>
                                        <th>{{labels.plan}}</th>
                                        <th>{{labels.diagnosisCode}}</th>
                                        <th>{{labels.diagnosisDescription}}</th>
                                        <th>{{labels.followUpPlan}}</th>
                                        <th>{{labels.attachments}}</th>
                                        <th>{{labels.notes}}</th>
                                    </tr>
                                 <tr *ngFor="let soap of soaplist"> 
                                     <td>{{soap.subjective}}</td>
                                     <td>{{soap.objective}}</td>

                                      <td>{{soap.assessment}}</td>
                                      <td>{{soap.plan}}</td>
                                      <td>{{soap.diagnosisCode}}</td>
                                      <td>{{soap.icrDescription}}</td>
                                      <td>{{soap.followUpPlan}}</td>
                                      <td>
                                        <img src="assets/Icons/Report.png"  *ngIf="attchment!=0" (click)="GetSoapPdf()">
                                      </td>
                                      <td>{{soap.notes}}</td>
                                 </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div> -->

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-3">
                            <label>{{labels.subjective}}</label>
                        </div>
                        <div class="col-lg-6">
                            <textarea  cols="30" rows="20" disabled style="height: 70px;" class="form-control" [(ngModel)]="subjective" name="subjective"></textarea>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>{{labels.objective}}</label>
                        </div>
                        <div class="col-lg-6">
                            <textarea name="" id="" cols="30" rows="10" disabled style="height: 70px;" class="form-control" [(ngModel)]="objective" name="objective" ></textarea>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>{{labels.assessment}}</label>
                        </div>
                        <div class="col-lg-6">
                            <textarea name="" id="" cols="30" rows="10" disabled style="height: 70px;" class="form-control" [(ngModel)]="assessment" name="assessment"></textarea>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>{{labels.plan}}</label>
                        </div>
                        <div class="col-lg-6">
                            <textarea name="" id="" cols="30" rows="10" disabled style="height: 70px;" class="form-control" [(ngModel)]="plan" name="plan"></textarea>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>{{labels.diagnosisiCode}}</label>
                        </div>
                        <div class="col-lg-6">
                            <textarea name="" id="" cols="30" rows="10" disabled style="height: 70px;" class="form-control" [(ngModel)]="diagnosiscode" name="diagnosiscode"></textarea>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>{{labels.diagnosisDescription}}</label>
                        </div>
                        <div class="col-lg-6">
                            <textarea name="" id="" cols="30" rows="10" disabled style="height: 70px;" class="form-control" [(ngModel)]="icrdescription" name="icrdescription"></textarea>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>{{labels.followUpPlan}}</label>
                        </div>
                        <div class="col-lg-6">
                            <textarea name="" id="" cols="30" rows="10"  disabled style="height: 70px;" class="form-control" [(ngModel)]="followupplan" name="followupplan"></textarea>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>{{labels.attachnments}}</label>
                        </div>
                        <div class="col-lg-6">
                            <img src="assets/Icons/Report.png" *ngIf="attachment!=0"
                            (click)="GetSoapPdf()" data-bs-dismiss="modal">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>{{labels.notes}}</label>
                        </div>
                        <div class="col-lg-6">
                            <textarea name="" id="" cols="30" rows="10"  disabled style="height: 70px;" class="form-control" [(ngModel)]="notes" name="notes"></textarea>
                        </div>
                    </div>






                    <!-- <div class="row">
                        <div class="col-lg-12">
                            <table>
                                <thead>
                                    <tr>
                                        <th>{{labels.subjective}}</th>
                                        <th>{{labels.objective}}</th>
                                        <th>{{labels.assessment}}</th>
                                        <th>{{labels.plan}}</th>
                                        <th>{{labels.diagnosisiCode}}</th>
                                        <th>{{labels.diagnosisDescription}}</th>
                                        <th>{{labels.followUpPlan}}</th>
                                        <th>{{labels.attachnments}}</th>
                                        <th>{{labels.notes}}</th>
                                    </tr>
                                    <tr *ngFor="let soap of soaplist">
                                        <td>{{soap.subjective}}</td>
                                        <td>{{soap.objective}}</td>
                                        <td>{{soap.assessment}}</td>
                                        <td>{{soap.plan}}</td>
                                        <td>{{soap.diagnosisCode}}</td>
                                        <td>{{soap.icrDescription}}</td>
                                        <td>{{soap.followUpPlan}}</td>
                                        <td>
                                            <img src="assets/Icons/Report.png" *ngIf="attchment!=0"
                                                (click)="GetSoapPdf(soap.attchment)" data-bs-dismiss="modal">
                                        </td>
                                        <td>{{soap.notes}}</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">{{labels.close}}</button>

            </div>
        </div>
    </div>
</div>






<!-- Home care SOap Notes -->


<div class="modal fade" id="HomecareSoap" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content card card-hover">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{labels.soap}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <table>
                                <thead>
                                    <tr>
                                        <th>{{labels.subjective}}</th>
                                        <th>{{labels.objective}}</th>
                                        <th>{{labels.assessment}}</th>
                                        <th>{{labels.plan}}</th>
                                        <th>{{labels.diagnosisCode}}</th>
                                        <th>{{labels.diagnosisDescription}}</th>
                                        <th>{{labels.followUpPlan}}</th>
                                        <th>{{labels.notes}}</th>
                                    </tr>
                                 <tr *ngFor="let soap of HomeCaresoaplist"> 
                                     <td>{{soap.subjective}}</td>
                                     <td>{{soap.objective}}</td>

                                      <td>{{soap.assessment}}</td>
                                      <td>{{soap.plan}}</td>
                                      <td>{{soap.diagnosisCode}}</td>
                                      <td>{{soap.icrDescription}}</td>
                                      <td>{{soap.followUpPlan}}</td>
                                      <td>
                                        <img src="assets/Icons/Report.png"  *ngIf="attchment!=0" (click)="GetSoapPdf()">
                                      </td>
                                      <td>{{soap.notes}}</td>
                                 </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">{{labels.close}}</button>
            </div>
        </div>
    </div>
</div>