<app-sms></app-sms>
<app-loader *ngIf="loader==true"></app-loader>
<div class="container-fluid headercard card-hover headerspace">
    <div class="row">
        <div class="col-lg-8">
            <h5 class="headings">{{labels.cancelledAppointments}}</h5>
        </div>
    </div>
</div>
<div class="container-fluid card card-hover headerspace">
    <div class="row">
        <div class="col-lg-3">
            <input type="text"
            placeholder="Select Date"
            class="form-control"
            bsDaterangepicker
            [(ngModel)]="bsRangeValue" (ngModelChange)="selectDate(bsRangeValue)" 
            [bsConfig]="{ showWeekNumbers:false }"
            [bsConfig]="{ isAnimated: true }">
        </div>
        <div class="col-lg-3">
            <div class="form-floating mb-3">
                <input type="email" class="form-control inputfield" id="floatingInput" [(ngModel)]="term"  placeholder="Search">
                <label for="floatingInput" class="floatingLabel">{{labels.search}}</label>
              </div>
        </div>
        <div class="col-lg-4"></div>
          <div class="col-lg-2 countClass">
            <label>{{labels.count}} : {{count}} </label>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-lg-12 tableoverflow">
            <table class="table table-hover">
                <tr>
                    <th>{{labels.appointmentDate}}</th>
                    <th>{{labels.patientName}}</th>
                    <th>{{labels.phoneNumber}}</th>
                    <th>{{labels.emailID}}</th>
                    <th>{{labels.address}}</th>
                    <th>{{labels.appointmentTime}}</th>
                    <th>{{labels.reasonForCancel}}</th>
                    <th>{{labels.status}}</th>
                </tr>
                <tr *ngFor="let app of appointmentreportlist|filter:term">
                    <td>{{app.apptDatetime}}</td>
                    <td  *ngIf="notshowdrop=='1'">{{app.nurseName}}</td>
                    <td *ngIf="notshowdrop=='1'">{{app.hospital_ClinicName}}</td>
                    <td>{{app.patientName}}</td>
                    <td>{{app.mobileNumber}}</td>
                    <td>{{app.emailID}}</td>
                    <td>{{app.address}}</td>
                    <td>{{app.bookedTime}}</td>
                    <td>{{app.reasonForCancel}}</td>
                    <td>
                      <label *ngIf="app.isVisited=='1'" style="color:yellowgreen">{{labels.visited}}</label>
                      <label *ngIf="app.nurseCancelled=='1'" style="color:red">{{labels.nurseCancelled}}</label>
                      <label *ngIf="app.cancelled=='1'" style="color:red">{{labels.patientCancelled}}</label>
                      <label *ngIf="app.notVisited=='1'" style="color:rgba(255, 0, 0, 0.425)">{{labels.notVisited}}</label>
                      <label
                        *ngIf="app.isVisited=='0'&&app.accepted=='0'&&app.nurseCancelled=='0'&&app.cancelled=='0'&&app.notVisited=='0'"
                        style="color:rgba(255, 0, 0, 0.425)">{{labels.pending}}</label>
                      <label
                        *ngIf="app.isVisited=='0'&&app.accepted=='1'&&app.nurseCancelled=='0'&&app.cancelled=='0'&&app.notVisited=='0'"
                        style="color:rgba(255, 0, 0, 0.425)">{{labels.accepted}}</label>
                    </td>
                  </tr>
            </table>
        </div>
    </div>
    <!-- <div class="col-lg-12" style="text-align: end">
        <pagination-controls id="foo" (pageChange)="pageChanged($event)" previousLabel="Previous" nextLabel="Next"
            screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div> -->
</div>

















