<app-loader *ngIf="loader==true"></app-loader>
<app-sms></app-sms>
<div class="container-fluid headercard card-hover headerspace">
  <div class="row">
    <div class="col-lg-9">
      <h5 class="headings">{{labels.receptionist}}</h5>
    </div>
    <div class="col-lg-3" >
      <button class="save" *ngIf="roleid==14" routerLink="/HospitalClinic/HospitalAppoinments">{{labels.addappointment}}</button>
    </div>
  </div>
</div>
<div class="container-fluid card card-hover headerspace">
  <div class="row">
    <div class="col-lg-3">
      <input type="text" placeholder="{{labels.selectDate}}" class="form-control" bsDaterangepicker [(ngModel)]="bsRangeValue"
        (ngModelChange)="selectDate(bsRangeValue)" [bsConfig]="{ isAnimated: true }">
    </div>
    <div class="col-lg-3">
      <div class="form-floating mb-3">
        <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Search" [(ngModel)]="term">
        <label for="floatingInput" class="floatingLabel">{{labels.search}}</label>
      </div>
    </div>
    <div class="col-lg-3">
      <select class="form-control" (change)="GetDepartmentName($event)">
        <option value="0" selected>{{labels.selectDepartment}}</option>
        <option *ngFor="let department of departmentlist" value={{department.departmentname}}>
          {{department.departmentname}}</option>
      </select>
    </div>
    <div class="col-lg-3">
      <ng-multiselect-dropdown [placeholder]="selectdoctor" [settings]="docdd" [data]="doctorlist"
        (onSelect)="GetDoctorName($event)">
      </ng-multiselect-dropdown>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10"></div>
    <div class="col-lg-2 countClass">
      <label>{{labels.count}} : {{count}} </label>
    </div>
  </div>
  <br>
  <div class="row ">
    <div class="col-lg-12 tableoverflow">
      <table class="table table-hover" id="download">
        <tr>
          <th>{{labels.appointmenNumber}}</th>
          <th>{{labels.appointmentDate}}</th>
          <th>{{labels.patientName}}</th>
          <th>{{labels.mobileNumber}}</th>
          <th>{{labels.slot}}</th>
          <th>{{labels.appointmentType}}</th>
          <th>{{labels.provider}}</th>
          <th>{{labels.department}}</th>
          <th>{{labels.reasonForVisit}}</th>
          <th>{{labels.status}}</th>
        </tr>
        <tr
          *ngFor="let details of appointmentlist |filter:term| paginate: { id: 'foo', itemsPerPage: 10, currentPage: p}">
          <td>{{details.appointmentID}}</td>
          <td>{{details.appointmentdatess}}</td>
          <td>{{details.pName}}</td>
          <td>{{details.pMobileNo}}</td>
          <td>{{details.slots}}</td>
          <td>{{details.appointmentTypeText}}</td>
          <td>{{details.doctorName}}</td>
          <td>{{details.departmentname}}</td>
          <td>{{details.reasonForVisit}}</td>
          <td>
            <label
              *ngIf="details.accepted=='1'&&details.isVisited=='0'&&details.docCancelled=='0'&&details.cancelled=='0'&&details.noShow=='0'"
              style="color: green;">{{labels.accepted}}</label>
            <label *ngIf="details.cancelled=='1'" style="color: red;">{{labels.patientcancelled}}</label>
            <label *ngIf="details.isVisited=='1'&&details.accepted=='1'" style="color: orange;">{{labels.visited}}</label>
            <label *ngIf="details.docCancelled=='1'" style="color: red;">{{labels.doctorCancelled}}</label>
            <label
              *ngIf="details.isVisited=='0'&&details.accepted=='0'&&details.cancelled=='0'&&details.docCancelled=='0'"
              style="color: rgb(255, 0, 149);">{{labels.pending}}</label>
            <label *ngIf="details.accepted=='1'&&details.noShow=='1'" style="color: red;">{{labels.notvisited}}</label>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-lg-12" style="text-align: end">
    <pagination-controls id="foo" (pageChange)="pageChanged($event)" previousLabel="{{labels.previous}}" nextLabel="{{labels.next}}"
      screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
</div>