.signature{
    font-style: italic;
    float: right ;

}
.sig{
    float: right;
    font-weight: 600;
}

.download{
    padding: 10px;
    background-color: green;
    border-radius: 10px;
    border:none;
    color: white;
    float: right;
}