<app-loader *ngIf="loader==true"></app-loader>
<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeofPopUp" *ngIf="showPopup==1"></app-toastpopup>
<app-sms></app-sms>
<br>
<div class="container-fluid">
    <form #MidwifePlanning="ngForm">
    <div class="row">
        <div class="col-lg-12">
            <h5 class="headings">{{labels.midwife}}</h5>
        </div>
        <div class="col-lg-8"></div>
    </div>
    <br>
    <div class="card">
        <div class="row">
            <div class="col-lg-3">
                <ng-multiselect-dropdown [placeholder]="midWifename" [settings]="middd" [data]="midwifelist"
                    (onSelect)="getmidwifeid($event)">
                </ng-multiselect-dropdown>

            </div>
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control inputfield" id="floatingInput" placeholder="{{labels.hospitalname}}"
                        name="hospital_ClinicName" [(ngModel)]="hospital_ClinicName" disabled>
                    <label for="floatingInput" class="floatingLabel">{{labels.hospital}}</label>
                </div>
            </div>
            <div class="col-lg-3">
                <ng-multiselect-dropdown [placeholder]="selectday" [settings]="daysdd" [data]="dayslist"
                    (onSelect)="GetDaysID($event)">
                </ng-multiselect-dropdown>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-lg-3">
                <select class="form-control" required (change)="changeStarttime($event)" [(ngModel)]="startid" name="startid">
                    <option value="">{{labels.startTime}}</option>
                    <option *ngFor="let day of Timeings" value={{day.id}}>{{day.slotName}}
                    </option>
                </select>
            </div>
            <div class="col-lg-3">
                <select class="form-control" required (change)="changeEndtime($event)" [(ngModel)]="endid" name="endid">
                    <option value="">{{labels.endTime}}</option>
                    <option *ngFor="let day of endslotlist" value={{day.id}}>{{day.slotName}}
                    </option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-1">
                <button type="button" class="save"
                    (click)="insertMidwife()" [disabled]="MidwifePlanning.form.invalid">{{labels.adder}}</button>&nbsp;
            </div>
            <div class="col-lg-1">
                <button type="button" class="save" routerLink="/countrymanager/CareGiverPlanning">{{labels.back}}</button>
            </div>
        </div>
    </div>
    <br>
</form>
</div>