<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeofPopUp" *ngIf="showPopup==1"></app-toastpopup>
<app-loader *ngIf="loader==true"></app-loader>
<app-sms></app-sms>


<div class="container-fluid bg1">
    <div class="row">
<div class="col-lg-1">
  <a href="#/login" class="previous round">&#8249;</a>
</div>
      <div class="col-lg-6"></div>
      <div class="col-lg-4" style="text-align: center;">
        <br><br><br>
        <div class="card card-hover" style="padding: 12%;border-radius: 20px;background-color: white">
          <form #loginForm="ngForm">
            <h3
              style="border-radius: 10px;padding-top: 3%;height:114px;width:100%;background-color: white;color: aliceblue;">
              <img src="assets/Images/logo.png" style="margin-top: -14px;width: 29%;">
              <h6 style="color: #322b6b;margin-top: -9px;
              font-size: 10px;">Plateforme d'optimisation opérationnelle. </h6>
            </h3>
            <br>
            <!-- <select class="form-control" style="hei  ght:40px;" (change)="GetCountryID($event)">
              <option value="0" selected>Select Country</option>
              <option *ngFor="let cou of countrylist" value={{cou.countryID}}>{{cou.countryName}}</option>
            </select><br> -->
            <!-- *ngIf="countryid!=null" -->
  
            <div>
              <select class="form-control" style="height:40px;" (change)="onchangeFunction($event)">
                <option value="" selected>{{labels.selectRole}}</option>
                <option *ngFor="let role of rolelist" value={{role.id}}>{{role.short}}</option>
              </select>
              <br>
              <input (keypress)="numberOnly($event)" type="text" [(ngModel)]="pinno" style="height:40px;" name="pinno" required
                placeholder="{{labels.pinNo}}" class="form-control" maxlength="5" >
              <br>
              <input type="text" [(ngModel)]="uname" style="height:40px;" name="uname" required placeholder="Email ID"
                class="form-control">
              <br>
              <button type="submit" class="form-control login" (click)="login()"
                [disabled]="loginForm.form.invalid">{{labels.resetPassword}}</button>
            </div>
          </form>
        </div>
      </div><br>
      <div class="col-lg-1">
      </div>
    </div>
  </div>