<app-loader *ngIf="loader==true"></app-loader>
<app-sms></app-sms>
<div class="container-fluid headercard card-hover headerspace">
    <div class="row">
        <div class="col-lg-8 col-sm-6">
            <h5 class="headings">{{labels.usagereport}}</h5>
        </div>
        <div class="col-lg-4 col-sm-6 buttonsss">
            <button class="add">{{labels.exportExcel}}</button>&nbsp;
        </div>
    </div>
</div>
<br>
<div class="container-fluid card card-hover">
    <div class="row">
        <div class="col-lg-3">
            <input type="text"
            placeholder="Select Date"
            class="form-control"
            bsDaterangepicker
            [(ngModel)]="bsRangeValue" (ngModelChange)="selectDate(bsRangeValue)"
            [bsConfig]="{ isAnimated: true }">
        </div>
        <div class="col-lg-3">
            <div class="form-floating mb-3">
                <input type="email" class="form-control inputfield" id="floatingInput" placeholder="Search" [(ngModel)]="search"> 
                <label for="floatingInput" class="floatingLabel">{{labels.search}}</label>
            </div>
        </div><br>
        <div class="col-lg-3">
            <select class="form-control" (change)="gettypeID($event)">
              <option value="0">{{labels.select}}</option>
              <option value="1">{{labels.doctor}}</option>
              <option value="2">{{labels.nurse}}</option>
              <option value="3">{{labels.physiotherapist}}</option>
              <option value="4">{{labels.midwife}}</option>
              <option value="5">{{labels.hospital}}</option>
              <option value="6">{{labels.diagnosticCenter}}</option>
              <option value="7">{{labels.pharmacy}}</option>
            </select>
          </div> <br><br>
          <div class="col-lg-3 countClass">
            <label>{{labels.count}} : {{count}}</label>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-lg-12 tableoverflow">
            <table class="table table-striped" id="download">
                <tr>
                    <th>{{labels.date}}</th>
                    <th>{{labels.type}}</th>
                    <th>{{labels.providerName}}</th>
                    <th>{{labels.loginTime}}</th>
                    <th>{{labels.logoutTime}}</th>
                    <th>{{labels.totalTime}} (in minutes)</th>
                </tr>
                <tr *ngFor="let details of auditReportList|filter:search|paginate: { id: 'foo', itemsPerPage: 15, currentPage: p}">
                    <td>{{details.date}}</td>
                    <td>{{details.typename}}</td>
                    <td>{{details.userName}}</td>
                    <td>{{details.loginTime}}</td>
                    <td>{{details.logOutTime}}</td>
                    <td>{{details.timediffrence}}</td>
                  </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="col-lg-12" style="text-align: end">
        <pagination-controls id="foo" (pageChange)="pageChanged($event)" previousLabel="{{labels.previous}}" nextLabel="{{labels.next}}"
            screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div>
</div>
<br>
