h1{
    text-align: center;
    color: red;
}
.icon_css{
    color: #1dbfd2;
    font-size: 100px;
    text-align: center;
    left: 30px;
    /* padding: 10px 695px */
}
.span i{
    text-align: center;
}