<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeofPopUp" *ngIf="showPopup==1"></app-toastpopup>
<app-loader *ngIf="loader==true"></app-loader>
<app-sms></app-sms>
<br>
<div class="container-fluid">
    <form #userRoleForm="ngForm">
        <div class="row">
            <div class="col-lg-12">
                <h5 class="headings">{{labels.userRole}}</h5>
            </div>
            <div class="col-lg-8"></div>
        </div>
        <br>
        <div class="card">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Chapter name"
                            [(ngModel)]="firstname" name="firstname" required>
                        <label for="floatingInput" class="floatingLabel">{{labels.firstName}}<span class="required">*</span></label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Chapter name"
                            [(ngModel)]="lastname" name="lastname" required>
                        <label for="floatingInput" class="floatingLabel">{{labels.name}}<span class="required">*</span></label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input (keypress)="numberOnly($event)" type="text" class="form-control inputfield" id="floatingInput" placeholder="Chapter name"
                            [(ngModel)]="phoneno" required name="phoneno" >
                        <label for="floatingInput" class="floatingLabel">{{labels.phoneNumber}}<span class="required">*</span></label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Chapter name"
                            [(ngModel)]="email" required name="email" 
                            (ngModelChange)="isValidEmail(email)" required >
                        <label for="floatingInput" class="floatingLabel">{{labels.email}}<span class="required">*</span></label>
                        <span *ngIf="valid==false" class="emailvalidation">{{labels.validEmail}}</span>
                    </div>
                </div>
            </div> <br>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Chapter name"
                            [(ngModel)]="username" required name="username">
                        <label for="floatingInput" class="floatingLabel">{{labels.userName}}<span class="required">*</span></label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <select class="form-control" (change)="GetRoleID($event)" required [(ngModel)]="roleid"
                        name="roleid">
                        <option value="0">Select</option>
                        <option *ngFor="let role of rolelist" value="{{role.id}}">{{role.short}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9"></div>
                <div class="col-lg-2">
                    <button type="button" *ngIf="showbutton=='0'" class="save"
                        (click)="InsertDetails()" [disabled]="userRoleForm.form.invalid">{{labels.save}}</button>
                    <button type="button" *ngIf="showbutton=='1'" class="save"
                        (click)="Updatedetails()">{{labels.update}}</button>
                </div>
                <div class="col-lg-1">
                    <button type="button" class="save" routerLink="/menus/UserRoleMapping">{{labels.back}}</button>
                </div>
            </div>
        </div>
        <br>
    </form>
</div>