<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeofPopUp" *ngIf="showPopup==1"></app-toastpopup>
<app-loader *ngIf="loader==true"></app-loader>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h5 class="headings">{{labels.appointment}}</h5>
        </div>
        <div class="col-lg-8"></div>
    </div>
    <br>
    <div class="card">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control inputfield" id="floatingInput" name="ClientName" [(ngModel)]="ClientName" placeholder="Client Name">
                    <label for="floatingInput" class="floatingLabel">{{labels.clientName}}<span class="required">*</span></label>
                </div>
            </div>   
            <div class="col-lg-3">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Description" id="floatingTextarea" name="Description" [(ngModel)]="Description"></textarea>
                    <label for="floatingTextarea">{{labels.description}}</label>
                </div>
            </div>
            <div class="col-lg-3">
                <input type="text" placeholder="{{labels.fromDate}}" class="form-control" bsDatepicker
                    [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }" name="StartDate"
                    [(ngModel)]="StartDate" (ngModelChange)="getStartDate(StartDate)">
            </div>
            <div class="col-lg-3">
                <input type="text" placeholder="{{labels.toDate}}" class="form-control" bsDatepicker name="EndDate"
                    [(ngModel)]="EndDate" [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }"
                    (ngModelChange)="getenddadte(EndDate)">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control inputfield" id="floatingInput" placeholder="fees"
                    [(ngModel)]="fees" name="fees">
                    <label for="floatingInput" class="floatingLabel">{{labels.fees}}<span class="required">*</span></label>
                </div>
            </div>
            <div class="col-lg-3" *ngIf="paramid==undefined || paramid!=undefined">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control inputfield" id="floatingInput" placeholder="site url"
                    name="LinkURL" [(ngModel)]="LinkURL">
                    <label for="floatingInput" class="floatingLabel">{{labels.siteLink}}<span class="required">*</span></label>
                </div>
            </div>
            <div class="col-lg-3">
                <ngx-dropzone (change)="onSelect($event)" class="dropZone">
                    <ngx-dropzone-label>{{labels.photo}}</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
            </div>
            <div class="col-lg-3" *ngIf="showbutton=='1'">
              <img class="photo" src="{{showphoto}}">
            </div>
        </div> <br>
        <br>
        <div class="row">
            <div class="col-lg-9"></div>
            <div class="col-lg-2">
                <button type="button" class="save" *ngIf="showbutton=='0'" (click)="insertdetails()">{{labels.save}}</button>
                <button type="button" class="save" *ngIf="showbutton=='1'" (click)="updatedetails()">{{labels.update}}</button>
            </div>
            <div class="col-lg-1">
                <button type="button" class="save" (click)="back()">{{labels.back}}</button>
            </div>
        </div>
    </div>
    <br>
</div>
