<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeofPopUp" *ngIf="showPopup==1"></app-toastpopup>
<app-sms></app-sms>
<br>
<div class="container-fluid">
    <form #deliveryForm="ngForm">
    <div class="row">
        <div class="col-lg-12">
            <p class="headings">{{labels.deliveryCompanyDetails}}</p>
        </div>
        <div class="col-lg-8"></div>
    </div>
    <br>
    <div class="card">
        <br>
        <div class="row">
            <div class="col-lg-3">
                <ng-multiselect-dropdown [placeholder]="selectdeliverycompany" [settings]="diadd" [data]="dcList"
                (onSelect)="GetdcID($event)">
            </ng-multiselect-dropdown>
            </div>
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control inputfield" id="floatingInput" placeholder="User Name">
                    <label for="floatingInput" class="floatingLabel">{{labels.userName}} <span class="required">*</span></label>
                </div>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-1">
                <button class="save" (click)="insertDetails()" [disabled]="deliveryForm.form.invalid" >{{labels.save}}</button>&nbsp;&nbsp;
            </div>
            <div class="col-lg-1">
                <button class="save" routerLink="/Registerlogins/DeliveryCompanyDash">{{labels.back}}</button>
            </div>
        </div>
</div>


</form>
</div>