<app-loader *ngIf="loader==true"></app-loader>
<app-doctor-sms></app-doctor-sms>
<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeofPopUp" *ngIf="showPopup==1"></app-toastpopup>
<div class="container-fluid">
    <form #ReferalForm="ngForm">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" disabled [(ngModel)]="patientName"
                    name="patientName" placeholder="name@example.com">
                <label for="floatingInput">{{labels.patientname}}</label>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" disabled [(ngModel)]="mobileNumber"
                    name="mobileNumber" placeholder="name@example.com">
                <label for="floatingInput">{{labels.mobileNo}}</label>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" disabled [(ngModel)]="emailID"
                    name="emailID" placeholder="name@example.com">
                <label for="floatingInput">{{labels.emialID}}</label>
            </div>
        </div>
    </div><br>

    <div class="row">
        <div class="col-lg-4">
            <!-- <label class="dname_label">Refer To :</label> -->
        </div>
        <div class="col-lg-8">
            <input type="radio" name="referaltypeid" [(ngModel)]="referaltypeid" value="1" required
                (change)="GetReferencetypeID($event)">&nbsp; {{labels.internalDoctor}} &nbsp; 
            <input type="radio" name="referaltypeid" [(ngModel)]="referaltypeid" value="2" required
                (change)="GetReferencetypeID($event)">&nbsp; {{labels.externalDoctor}} &nbsp;
            <input type="radio" name="referaltypeid" [(ngModel)]="referaltypeid" value="3" required
                (change)="GetReferencetypeID($event)">&nbsp; {{labels.generalReference}} &nbsp;
        </div>
    </div>
    <br>

    <div class="row" *ngIf="referaltypeid==1">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <select class="form-control" (change)="GetDepartmentID($event)" required [(ngModel)]="departmentid"
                name="departmentid">
                <option value="0" selected>{{labels.selectDepartment}}</option>
                <option *ngFor="let department of departmentList" value={{department.id}}>
                    {{department.departmentname}}
                </option>
            </select>
        </div>
        <div class="col-lg-4">
            <ng-multiselect-dropdown [placeholder]="labels.selectDoctor" [settings]="docdd" [data]="referDoctorList"
                (onSelect)="GetDoctorID($event)">
            </ng-multiselect-dropdown>
        </div>
    </div><br>

    <div class="row" *ngIf="referaltypeid==2">
        <div class="col-lg-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="doctorName" name="doctorName" required
                    placeholder="name@example.com" >
                <label for="floatingInput">{{labels.doctorName}}</label>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="doctorMobileNumber" 
                    name="doctorMobileNumber" required placeholder="name@example.com">
                <label for="floatingInput">{{labels.phonenumber}}</label>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="doctorEmailID" required (ngModelChange)="isValidEmail(doctorEmailID)"
                    name="doctorEmailID" placeholder="name@example.com">
                <label for="floatingInput">{{labels.emialID}}</label>
                <span *ngIf="valid==false" class="emailvalidation">{{labels.validEmail}}</span>
            </div>
        </div>

    </div><br>
    <div class="row">
        <div class="col-lg-6">
            <ckeditor data="" [(ngModel)]="referalNotes" name="referalNotes"></ckeditor>
            <!-- <ckeditor  [(ngModel)]="referalNotes"></ckeditor> -->
            <!-- <ckeditor [editor]="Editor" [(ngModel)]="referalNotes"
                name="referalNotes" data=""></ckeditor> -->
        </div>
        <div class="col-lg-3">
            <!-- <label>Photo</label><br> -->
            <ngx-dropzone (change)="onSelectAttchment($event)" class="dropzone">
                <ngx-dropzone-label>{{labels.attachments}}</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files1" [removable]="true" (removed)="onAttachmentRemove(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-preview>
            </ngx-dropzone>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <button class="save" (click)="insertReferals()" [disabled]="ReferalForm.form.invalid">{{labels.save}}</button>
        </div>

    </div>
</form>
</div><br>

<div id="qwerty" style="display: none;">

</div>