<app-sms></app-sms>
<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeofPopUp" *ngIf="showPopup==1"></app-toastpopup>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h5 class="headings">{{labels.testType}}</h5>
        </div>
        <div class="col-lg-8"></div>
    </div>
    <br>
    <div class="card">
        <form #countryForm="ngForm">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Diagnostic Test Type" [(ngModel)]="test" name="test" >
                    <label for="floatingInput" class="floatingLabel">{{labels.testType}}</label>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-9"></div>
            <div class="col-lg-2">
                <button type="button" class="save" *ngIf="showbit=='0'"  (click)="insertdetails()">{{labels.save}}</button>
                <button type="button" class="save" *ngIf="showbit=='1'"  (click)="updatedetails()">{{labels.update}}</button>
            </div>
            <div class="col-lg-1">
                <button type="button" class="save" routerLink="/Masters/DaignosticTestType">{{labels.back}}</button>
            </div>
        </div>
        </form>
    </div>
</div>

