<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeofPopUp" *ngIf="showPopup==1"></app-toastpopup>
<app-loader *ngIf="loader==true"></app-loader>
<app-sms></app-sms>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <p class="headings">{{labels.prescriptionverifierregistration}}</p>
        </div>
        <div class="col-lg-8"></div>
    </div>
    <br>
    <div class="card">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control inputfield" required id="floatingInput"
                        placeholder="Doctor Name" [(ngModel)]="doctorname"  name="doctorname">
                    <label for="floatingInput" class="floatingLabel" >{{labels.doctorName}}<span class="required">*</span></label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Phone Number"
                        name="contactPersonName" [(ngModel)]="phoneno" name="phoneno">
                    <label for="floatingInput" class="floatingLabel">{{labels.phoneNumber}}<span class="required">*</span></label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control inputfield" id="floatingInput" placeholder="Email" required
                    name="email" [(ngModel)]="email">
                    <label for="floatingInput" class="floatingLabel">{{labels.emailID}}<span class="required">*</span></label>
                    <!-- <span *ngIf="valid==false" class="emailvalidation">{{labels.validEmail}}</span> -->
                </div>
            </div>
            <div class="col-lg-3">
                <label>{{labels.gender}} :</label> &nbsp;
                <input type="radio"  value="1" [(ngModel)]="gender" name="gender" >&nbsp; {{labels.male}}
                &nbsp;
                <input type="radio" value="0" [(ngModel)]="gender"  name="gender" >&nbsp; {{labels.female}}
                &nbsp;
            </div>
        </div> <br>

        <div class="row">
            <div class="col-lg-3">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                    [(ngModel)]="address" name="address"></textarea>
                    <label for="floatingTextarea">{{labels.address}}</label>
                </div>
            </div>
            <div class="col-lg-3">
                <select class="form-control" (change)="getCountryID($event)" [(ngModel)]="countryID" name="countryID">
                    <option value="">{{labels.selectCountry}}<span class="required">*</span></option>
                    <option *ngFor="let cou of countryList" value="{{cou.id}}">{{cou.short}}</option>
                </select>
            </div>
            <div class="col-lg-3"> 
                <ng-multiselect-dropdown [placeholder]="region" [settings]="regiondd"  [data]="regionList" 
                    (onSelect)="GetRegionID($event)">
                </ng-multiselect-dropdown>
            </div>
            <div class="col-lg-3">
                <ng-multiselect-dropdown [placeholder]="province" [settings]="citydd" [data]="cityList"  
                    (onSelect)="GetCityID($event)">
                </ng-multiselect-dropdown>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-lg-3">
                <ng-multiselect-dropdown [placeholder]="city" [settings]="areadd"  [data]="areaList" 
                    (onSelect)="GetAreaID($event)">
                </ng-multiselect-dropdown>
            </div>
            <div class="col-lg-3">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                    [(ngModel)]="description" name="description"></textarea>
                    <label for="floatingTextarea">{{labels.proffesionalProfile}}</label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control inputfield" id="floatingInput" placeholder="Username"
                    [(ngModel)]="username" name="username">
                    <label for="floatingInput" class="floatingLabel">{{labels.username}}<span class="required">*</span></label>
                </div>
            </div>
            <div class="col-lg-3">
                <ngx-dropzone (change)="onSelect($event)" class="dropZone">
                    <ngx-dropzone-label>{{labels.photo}}</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-1">
                <button type="button" class="save"  *ngIf="showedit=='0'" (click)="insertdetails()">{{labels.save}}</button>
                <button type="button" class="save" *ngIf="showedit=='1'" (click)="updatedetails()">{{labels.update}}</button>
            </div>
            <div class="col-lg-1">
                <button type="button" class="save"  routerLink="/countrymanager/PrescriptionDash">{{labels.back}}</button>
            </div>
        </div>
    </div><br>