<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeofPopUp" *ngIf="showPopup==1"></app-toastpopup>
<app-loader *ngIf="loader==true"></app-loader>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h5 class="headings">{{labels.hospitalDashboard}}</h5>
        </div>
        <div class="col-lg-8"></div>
    </div>
    <br>
    <div class="card">
        <div class="row">
            <div class="col-lg-3" *ngIf="showbutton=='0'">
                <label>{{labels.hospital}}</label> &nbsp;
                <input type="radio" value="1" name="hspcliid" [(ngModel)]="hspcliid" (change)="handleChange($event)">
                {{labels.hospitals}} &nbsp;
                <input type="radio" value="2" name="hspcliid" [(ngModel)]="hspcliid" (change)="handleChange($event)">
                {{labels.clinic}} &nbsp;
            </div>
            <div class="col-lg-3" *ngIf="showbutton=='0'">
                <ng-multiselect-dropdown [placeholder]="search" [settings]="hospitaldd" [data]="hospitalcliniclist"
                    (onSelect)="GetHospitalID($event)">
                </ng-multiselect-dropdown>
            </div>
            <div class="col-lg-3" *ngIf="showbutton=='1'">
                <input type="text" class="form-control" disabled [(ngModel)]="hospitalclinicname"
                    name="hospitalclinicname">
            </div>
            <div class="col-lg-3">
                <input type="text" placeholder="{{labels.fromDate}}" class="form-control" bsDatepicker
                    [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }" name="startdate"
                    [(ngModel)]="startdate">
            </div>
            <div class="col-lg-3">
                <input type="text" placeholder="{{labels.toDate}}" class="form-control" bsDatepicker name="enddate"
                    [(ngModel)]="enddate" [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }">
            </div>
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control inputfield" id="floatingInput" placeholder="Issue"
                        [(ngModel)]="fees" name="fees">
                    <label for="floatingInput" class="floatingLabel">{{labels.fees}}<span
                            class="required">*</span></label>
                </div>
            </div>
        </div> <br>
        <br>
        <div class="row">
            <div class="col-lg-9"></div>
            <div class="col-lg-2">
                <button type="button" class="save" *ngIf="showbutton=='0'"
                    (click)="insertdetails()">{{labels.save}}</button>
                <button type="button" class="save" *ngIf="showbutton=='1'"
                    (click)="updatedetails()">{{labels.update}}</button>
            </div>
            <div class="col-lg-1">
                <button type="button" class="save" (click)="back()">{{labels.back}}</button>
            </div>
        </div>

    </div>
    <br>



</div>