<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeofPopUp" *ngIf="showPopup==1"></app-toastpopup>
<app-loader *ngIf="loader==true"></app-loader>
<app-sms></app-sms>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h5 class="headings">{{labels.regionmaster}}</h5>
        </div>
        <div class="col-lg-8"></div>
    </div>
    <br>
    <div class="card">
        <div class="row">
            <div class="col-lg-4">
                <select class="form-control" (change)="GetCountryID($event)" required [(ngModel)]="countryid" name="countryid">
                  <option value="0">{{labels.selectCountry}}</option>
                  <option *ngFor="let cou of countrylist" value="{{cou.id}}">{{cou.short}}</option>
                </select>
              </div>
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control inputfield" id="floatingInput" placeholder="cityname" [(ngModel)]="cityname" name="cityname" >
                    <label for="floatingInput" class="floatingLabel" required>{{labels.regionName}}</label>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-9"></div>
            <div class="col-lg-2">
                <button type="button" class="save"  *ngIf="showbit=='0'" (click)="insertdetails()">{{labels.save}}</button>
                <button type="button" class="save"  *ngIf="showbit=='1'" (click)="updatedetails()">{{labels.update}}</button>
            </div>
            <div class="col-lg-1">
                <button type="button" class="save" (click)="cancel()">{{labels.back}}</button>
            </div>
        </div>
    </div>
</div>

 