<app-sms></app-sms>
<div class="container-fluid">
    <form #DiagnosticForm="ngForm">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-4">
            <button class="testDatabse" (click)="testDatabase()">{{labels.testDatabase}}</button>
        </div>
        <div class="col-lg-2">
            <button class="manually" (click)="manuallyWritten()">{{labels.manuallyWritten}}</button>
        </div>
    </div><br>

    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <div class="form-floating" *ngIf="showTest==1">
                <textarea class="form-control textarea" placeholder="Leave a comment here" id="floatingTextarea2" 
                    [(ngModel)]="testsName" name="testsName" required (ngModelChange)="SearchTestname(testsName)"></textarea>
                <label for="floatingTextarea2">{{labels.diagnosticTestName}}</label>
            </div>
            <div class="form-floating" *ngIf="showTest==2">
                <textarea class="form-control textarea" required placeholder="Leave a comment here" id="floatingTextarea2"
                    [(ngModel)]="diagnosticTestName" name="diagnosticTestName"></textarea>
                <label for="floatingTextarea2">{{labels.diagnosticTestName}}</label>
            </div>
        </div>
    </div><br>
    <div class="row" *ngIf="showTest==2">
        <div class="col-lg-12">
            <button class="save" (click)="addManuallyTests()" [disabled]="DiagnosticForm.form.invalid">{{labels.add}}</button>
        </div>
    </div><br>
    <div class="row" *ngIf="showManualtest=='1'">
        <div class="col-lg-12">
            <table>
                <thead>
                    <tr>
                        <th>{{labels.testName}}</th>
                        <th>{{labels.actions}}</th>
                    </tr>
                    <tr *ngFor="let diagtest of diaManualtestArray">

                        <td>{{diagtest.TestName}}</td>
                        <td>
                            <img src="assets/Icons/delete.png" (click)="deleteDiagnostic(diagtest.Sno)">
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div><br>

    <div class="row" *ngIf="showManualtest=='1'">
        <div class="col-lg-12">
            <button class="save"  (click)="insertDignosticManualTest()">{{labels.save}}</button>
        </div>

    </div>

    <!-- database Test  -->

    <div class="row" *ngIf="SerachtestOn=='1'&&showTest==1">
        <div class="col-lg-12" style="overflow-y:auto;height:300px">
            <table>
                <thead>
                    <tr>
                        <th>{{labels.testType}}</th>
                        <th>{{labels.testName}}</th>
                        <th>{{labels.actions}}</th>
                    </tr>
                    <tr *ngFor="let code of testList|filter:testsName">
                        <td>{{code.name}}</td>
                        <td>
                            {{code.short}}
                            <!-- <input type="text" class="form-control" [(ngModel)]="code.short" name="code.short" disabled> -->
                        </td>
                        <td>
                            <button (click)="adddetails(code)" class="Addbutton">{{labels.add}}</button>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
        <br>
    </div><br>
    <div class="row" *ngIf="tableCount=='1'&&showTest==1">
        <div class="col-lg-12">
            <table>
                <thead>
                    <tr>
                        <th>{{labels.testType}}</th>
                        <th>{{labels.testName}}</th>
                        <th>{{labels.actions}}</th>
                    </tr>
                    <tr *ngFor="let diagtest of diagnosticArray">
                        <td>{{diagtest.DiagnosticTestTypeName}}</td>
                        <td>{{diagtest.TestName}}</td>
                        <td>
                            <img src="assets/Icons/delete.png" (click)="delete(diagtest.Sno)">

                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div><br>
    <div class="row" *ngIf="tableCount=='1'&&showTest==1">
        <div class="col-lg-12">
            <button class="save" (click)="insertDiagnostictDetails()">{{labels.save}}</button>
        </div>
    </div>
</form>
</div>