.manually {
    padding: 5px;
    border: 2px solid #322b6b;
    color: #322b6b;
    border-radius: 10px;
    font-weight: 600;

    width: 174px;
}

.manually:hover {
    padding: 5px;
    background-color: #322b6b;
    border: 2px solid #322b6b;
    color: white;
    border-radius: 10px;
    font-weight: 600;

    width: 174px;
}


.testDatabse {
    padding: 5px;
    border: 2px solid green;
    color: green;
    border-radius: 10px;
    font-weight: 600;
   

}

.testDatabse:hover {
    padding: 5px;
    background-color: green;
    border: 2px solid green;
    color: white;
    border-radius: 10px;
    font-weight: 600;
 

}

.textarea{
    height: 100px;
}


.Addbutton{
    padding: 5px;
  
    border: 2px solid #f18235;
    color: #f18235;
    border-radius: 10px;
    font-weight: 600;
    width: 100px;

}

.Addbutton:hover{
    padding: 5px;
  background-color: #f18235;
    border: 2px solid #f18235;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    width: 100px;

}