<div id="pause" class="d-flex align-items-center justify-content-center">
    <!-- <div id="spinner"></div> -->
    <div class="container-fluid bg-color" >
      <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4 rowheight" >
              <p class="Please-wait">{{labels.pleaseWait}}</p>
              <div class="Mask">
                  <!-- <img src="assets/Icons/succes.png" class="imgcheck_circle"> -->
         
            
                  <div class="loader imgcheck_circle"></div>
                  <h6 class="Finding-your-address">{{labels.weareFetching}}</h6>
                  <!-- <p class="smalltext">One moment please. Available soon</p> -->
  
              </div>
 
          </div>
      </div>
  </div>
  </div>

 