<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeofPopUp" *ngIf="showPopup==1"></app-toastpopup>
<app-loader *ngIf="loader==true"></app-loader>
<app-sms></app-sms>
<div class="container-fluid headercard card-hover headerspace">
    <div class="row">
        <div class="col-lg-8">
            <h5 class="headings">{{labels.cancellationSettings}}</h5>
        </div>
    </div>
</div>
<div class="container-fluid card card-hover headerspace">
    <div class="row">
        <div class="col-lg-3">
            <div class="form-floating mb-3">
                <input type="email" class="form-control inputfield" id="floatingInput"   placeholder="{{labels.search}}" [(ngModel)]="search" name="search">
                <label for="floatingInput" class="floatingLabel">{{labels.search}}</label>
              </div>
        </div>
        <div class="col-lg-7"></div>
          <div class="col-lg-2 countClass">
            <label>{{labels.count}} : {{count}} </label>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-lg-12 tableoverflow">
            <table class="table table-hover">
                <tr>
                    <th>{{labels.patientInclinic}}</th>
                    <th>{{labels.patientVideo}}</th>
                    <th>{{labels.codCancellationTime}}</th>
                    <th>{{labels.nurseCancellationTime}}</th>
                    <th>{{labels.physiotherapistCancellation}}</th>
                    <th>{{labels.doctorCancellationTime}}</th>
                    <th>{{labels.midwifeCancellation}}</th>
                    <th>{{labels.patientHomecareCancellation}}</th>
                    <th>{{labels.actions}}</th>
                </tr>
                <tr *ngFor="let details of cancelationTimings|filter:search|paginate: { id: 'foo', itemsPerPage: 10, currentPage: p}">
                    <td>{{details.patientInclinicCancelledTime}}</td>
                    <td>{{details.patientVideoCallTime}}</td>
                    <td>{{details.patientHomeVisitCancelledCodTime}}</td>
                    <td>{{details.doctorCancelledTime}}</td>
                    <td>{{details.nurseCancelledTime}}</td>
                    <td>{{details.physioCancelledTime}}</td>
                    <td>{{details.midwifeCancelledTime}}</td>
                    <td>{{details.homeCareCancelationTime}}</td>
                    <td>
                      <img src="assets/Icons/edit.png" (click)="GetCancelTimings(details)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    </td>
                  </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-12" style="text-align: end">
        <pagination-controls id="foo" (pageChange)="pageChanged($event)" previousLabel="{{labels.previous}}" nextLabel="{{labels.next}}"
            screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content card">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{labels.cancellationSettings}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <div class="row">
               <label style="text-align: center"><b style="font-size:20px;">{{labels.pleaseEnterHours}}</b></label>
           </div>
           <br>
           <div class="row">
               <div class="col-lg-6">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control inputfield" id="floatingInput" placeholder="patientinclinictimings"
                    [(ngModel)]="patientinclinictimings"  name="patientinclinictimings"> 
                    <label for="floatingInput" class="floatingLabel">{{labels.patientInclinic}}</label>
                </div>
               </div>
               <div class="col-lg-6">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control inputfield" id="floatingInput" placeholder="patientvideocalltiminngs"
                    [(ngModel)]="patientvideocalltiminngs"  name="patientvideocalltiminngs">
                    <label for="floatingInput" class="floatingLabel">{{labels.patientVideo}}</label>
                </div>
               </div>
           </div>  
           <br>
           <div class="row">
            <div class="col-lg-6">
             <div class="form-floating mb-3">
                 <input type="email" class="form-control inputfield" id="floatingInput" placeholder="codcancelationtime"
                 [(ngModel)]="codcancelationtime" name="codcancelationtime">
                 <label for="floatingInput" class="floatingLabel">{{labels.codCancellationTime}}</label>
             </div>
            </div>
            <div class="col-lg-6">
             <div class="form-floating mb-3">
                 <input type="email" class="form-control inputfield" id="floatingInput" placeholder="homeCareCancelationTime"
                 [(ngModel)]="homeCareCancelationTime"   name="homeCareCancelationTime">
                 <label for="floatingInput" class="floatingLabel">{{labels.patientHomecareCancellation}}</label>
             </div>
            </div>
        </div>  
        <br>  
        <div class="row">
            <label style="text-align: center"><b style="font-size:20px;">{{labels.pleaseEnterMinutes}}</b></label>
        </div>
        <br>
          <div class="row">
               <div class="col-lg-6">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control inputfield" id="floatingInput" placeholder="doctorCancelledTime"
                    [(ngModel)]="doctorCancelledTime" name="doctorCancelledTime">
                    <label for="floatingInput" class="floatingLabel">{{labels.doctorCancellationTime}}</label>
                </div>
               </div>
               <div class="col-lg-6">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control inputfield" id="floatingInput" placeholder="nurseCancelledTime"
                    [(ngModel)]="nurseCancelledTime" name="nurseCancelledTime">
                    <label for="floatingInput" class="floatingLabel">{{labels.nurseCancellationTime}}</label>
                </div>
               </div>
           </div>  
           <br>
           <div class="row">
            <div class="col-lg-6">
             <div class="form-floating mb-3">
                 <input type="email" class="form-control inputfield" id="floatingInput" placeholder="physioCancelledTime"
                 [(ngModel)]="physioCancelledTime" name="physioCancelledTime">
                 <label for="floatingInput" class="floatingLabel">{{labels.physiotherapistCancellation}}</label>
             </div>
            </div>
            <div class="col-lg-6">
             <div class="form-floating mb-3">
                 <input type="email" class="form-control inputfield" id="floatingInput" placeholder="midwifeCancelledTime"
                 [(ngModel)]="midwifeCancelledTime" name="midwifeCancelledTime">
                 <label for="floatingInput" class="floatingLabel">{{labels.midwifeCancellation}}</label>
             </div>
            </div>
        </div>        
        </div>
        <div class="modal-footer">
          <button type="button" class="save"  (click)="updatedetails()">{{labels.update}}</button>&nbsp;&nbsp;
          <button type="button" class="save" data-bs-dismiss="modal">{{labels.cancel}}</button>
        </div>
      </div>
    </div>
  </div>

  





