<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeofPopUp" *ngIf="showPopup==1"></app-toastpopup>
<app-loader *ngIf="loader==true"></app-loader>
<app-sms></app-sms>
<div class="container-fluid headercard card-hover headerspace">
  <div class="row">
    <div class="col-lg-8">
      <h5 class="headings">{{labels.supportDash}}</h5>
    </div>
    <div class="col-lg-4 col-sm-6 buttonsss">
      <button class="save" (click)="exportexcel()">{{labels.exportExcel}}</button>&nbsp;
    </div>
  </div>
</div>
<div class="container-fluid card card-hover headerspace">
  <div class="row">
      <div class="col-lg-3">
        <input type="text"
        placeholder="{{labels.selectDate}}"
        class="form-control"
        bsDaterangepicker
        [(ngModel)]="bsRangeValue" (ngModelChange)="selectDate(bsRangeValue)"
        [bsConfig]="{ isAnimated: true }">
    </div>
    <div class="col-lg-3">
      <div class="form-floating mb-3">
        <input type="email" class="form-control inputfield" id="floatingInput" [(ngModel)]="term" placeholder="Search">
        <label for="floatingInput" class="floatingLabel">{{labels.search}}</label>
      </div>
    </div>
    <div class="col-lg-3">
      <select class="form-control" (change)="GetTypeID($event)">
        <option value="0">{{labels.selectType}}</option>
        <option value="1">{{labels.doctor}}</option>
        <option value="2">{{labels.nurse}}</option>
        <option value="3">{{labels.careGiver}}</option>
        <option value="4">{{labels.midwife}}</option>
        <option value="5">{{labels.hospital}}</option>
        <option value="6">{{labels.receptionist}}</option>
        <option value="7">{{labels.pharmacy}}</option>
        <option value="8">{{labels.diagnosticCenter}}</option>
      </select>
    </div>
    <div class="col-lg-3 countClass">
      <label>{{labels.count}} : {{count}}</label>
    </div>
  
  <br>
  <div class="row ">
    <div class="col-lg-12 tableoverflow">
      <table class="table table-hover">
        <tr>
          <th>{{labels.ticketno}}</th>
          <th>{{labels.raiseddate}}</th>
          <th>{{labels.time}} </th>
          <th>{{labels.type}}</th>
          <th>{{labels.name}}</th>
          <th>{{labels.mobileNumber}}</th>
          <th>{{labels.emailID}}</th>
          <th>{{labels.issue}}</th>
          <th>{{labels.description}}</th>
          <th>{{labels.photo}}</th>
          <th>{{labels.status}}</th>
          <th>{{labels.actions}}</th>
        </tr>
        <tr *ngFor="let issue of issuelist|filter:term| paginate: { id: 'foo', itemsPerPage: 5, currentPage: p}">
          <td>{{issue.id}}</td>
          <td>{{issue.raiseddate}}</td>
          <td>{{issue.time}}</td>
          <td>{{issue.typename}}</td>
          <td>{{issue.userName}}</td>
          <td>{{issue.usermobile}}</td>
          <td>{{issue.useremail}}</td>
          <td>{{issue.issue}}</td>
          <td>
            <span [innerHTML]="issue.description"></span>
          </td>
          <td>
            <img src="assets/Icons/view_16.png" (click)="GetImageUrl(issue.photoURL)" data-bs-toggle="modal"
              data-bs-target="#showPhoto">
          </td>
          <td>
            <label *ngIf="issue.resolved=='0'&&issue.accepted=='0'&&issue.assignMeridional=='0'"
              class="pending">{{labels.pending}}</label>

            <label *ngIf="issue.resolved=='0'&&issue.accepted=='1'&&issue.assignMeridional=='0'"
              class="Accepted">{{labels.accepted}}</label>
            <label *ngIf="issue.resolved=='0'&&issue.assignMeridional=='1'" class="assignedmeridional">
            {{labels.assignedmeridional}}</label>
          </td>
          <td>

            <button class="accept" *ngIf="issue.resolved=='0'&&issue.accepted=='0'"
              (click)="UpdateSupportForWebAcceptedbit(issue.id)">{{labels.accept}}</button>
              
            <button class="assignmeridional" *ngIf="issue.resolved=='0'&&issue.accepted=='1'&&issue.assignMeridional=='0'"
              (click)="assignMeridiobal(issue.id,issue.useremail,issue.usermobile)" data-bs-toggle="modal"
              data-bs-target="#AssignMeridional">{{labels.esclatedToMeridional}}</button>
            <button class="resolved" *ngIf="issue.resolved=='0'&&issue.accepted=='1'&&issue.assignMeridional=='0'"
              (click)="GetSupportResolveID(issue.id,issue.useremail,issue.usermobile)" data-bs-toggle="modal"
              data-bs-target="#resolveTicket">{{labels.resolved}}</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-lg-12" style="text-align: end">
    <pagination-controls id="foo" (pageChange)="pageChanged($event)" previousLabel="{{labels.previous}}" nextLabel="{{labels.next}}"
      screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
</div>








<div class="modal fade" id="showPhoto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content card card-hover">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{labels.issuePhoto}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <br>
              <img src="{{photourl}}" class="imgclass" />
              <br>
            </div>
          </div>
          <br>
          <br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn  close" data-bs-dismiss="modal">{{labels.close}}</button>

      </div>
    </div>
  </div>
</div>








<div class="modal fade" id="AssignMeridional" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content card card-hover">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{labels.assignedMeridional}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3">
              <ngx-dropzone (change)="onSelect($event)" class="dropzone">
                <ngx-dropzone-label>{{labels.photo}}</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
            </div>
            <div class="col-lg-4">
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" rows="6"
                  [(ngModel)]="comments" name="address"></textarea>
                <label for="floatingTextarea">{{labels.address}}</label>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-2">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="update" (click)="updateassignmerigional()" data-bs-dismiss="modal">{{labels.update}}</button>
        <button type="button" class="btn  close" data-bs-dismiss="modal">{{labels.close}}</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="resolveTicket"  data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content card card-hover">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{labels.assignedMeridional}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3">
              <ngx-dropzone (change)="onSelect($event)" class="dropzone">
                <ngx-dropzone-label>{{labels.photo}}</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
            </div>
            <div class="col-lg-4">
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" rows="6"
                  [(ngModel)]="comments" name="address"></textarea>
                <label for="floatingTextarea">{{labels.address}}</label>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-2">

            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="update" (click)="insertdetails()" data-bs-dismiss="modal">{{labels.update}}</button>
        <button type="button" class="btn  close" data-bs-dismiss="modal">{{labels.close}}</button>

      </div>
    </div>
  </div>
</div>