<app-toastpopup [messageID]="messageID" [typeofPopUp]="typeofPopUp" *ngIf="showPopup == 1"></app-toastpopup>
<app-loader *ngIf="loader == true"></app-loader>
<app-sms></app-sms>
<br />
<div class="container-fluid">
  <form #doctoreditform="ngForm">
    <div class="row">
      <div class="col-lg-12">
        <h5 class="headings">{{ labels.doctor }}</h5>
      </div>
      <div class="col-lg-8"></div>
    </div>
    <br />
    <div class="card">
      <div class="row">
        <h4 class="sideheading">{{ labels.personalInformation }}</h4>
      </div>
      <br />
      <div class="row">

        <div class="col-lg-6">
          <div class="clo-lg-12">
            <img src="{{ photoUrl }}" style="width: 78%;height: auto;" />
          </div>

          <br>
          <div class="col-lg-12">
            <button class="edit" (click)="editPhoto()">{{labels.edit}}</button>&nbsp;&nbsp;&nbsp;
            <button class="edit" data-bs-toggle="modal"
              data-bs-target="#photos">{{labels.multiplePhotos}}</button><br><br>
            <div class="col-lg-6" *ngIf="showEdit==1">
              <!-- <label>Photo</label><br> -->
              <ngx-dropzone (change)="onSelectDoctorPhoto($event)" class="dropZone">
                <ngx-dropzone-label>{{ labels.photo }}</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files1" [removable]="true" (removed)="ondoctorPhotoRemove(f)">
                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
            </div>

          </div><br>
          <button type="button" class="edit" (click)="updatedetails()" *ngIf="showEdit==1">
            {{ labels.update }}
          </button>

        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Doctor name"
                  [(ngModel)]="doctorName" name="doctorName" required />
                <label for="floatingInput" class="floatingLabel">{{ labels.doctorName }}<span
                    class="required">*</span></label>
              </div>
            </div>
            <div class="col-lg-2">
              <select class="form-control" style="width: 97px;" (change)="getCountryCode($event)"
                [(ngModel)]="countryCodeNew" name="countryCodeNew">
                <option value="" *ngFor="let country of countryCodeList" value="{{country.countryID}}">
                  {{country.countryCodeNew}}</option>
              </select>
    
    
            </div>
            <div class="col-lg-4">
              <div class="form-floating mb-3">
                <input (keypress)="numberOnly($event)" type="text" class="form-control inputfield" id="floatingInput"
                  placeholder="Phone no" [(ngModel)]="phoneNo" name="phoneNo" (ngModelChange)="preventZero(phoneNo)"
                  required />
                <label for="floatingInput" class="floatingLabel">{{ labels.phoneNumber
                  }}<span class="required">*</span></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-floating mb-3">
                <input (keypress)="numberOnly($event)" type="text" class="form-control inputfield" id="floatingInput"
                  placeholder="Hospital no" [(ngModel)]="clinicNumber" name="clinicNumber"
                  (ngModelChange)="preventZero1(clinicNumber)" required />
                <label for="floatingInput" class="floatingLabel">{{ labels.hospitalno }}<span
                    class="required">*</span></label>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Email"
                  [(ngModel)]="email" name="email" (ngModelChange)="isValidEmail(email)" />
                <label for="floatingInput" class="floatingLabel">{{ labels.emailID }}<span
                    class="required">*</span></label>
                <span *ngIf="valid == false" class="emailvalidation">Please enter a valid Email ID</span>
              </div>
            </div>
          </div>
          <br />
          <div>
            <div class="col-lg-6">
              <select class="form-control" (change)="getDoctortype($event)" [(ngModel)]="doctorTypeID"
                name="doctorTypeID">
                <option selected>{{ labels.selectDoctoreType }}</option>
                <option *ngFor="let doc of doctorTypeList" value="{{ doc.id }}">
                  {{ doc.type }}
                </option>
              </select>
            </div>
            <br>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Doctor name"
                  [(ngModel)]="speakingLanguages" name="speakingLanguages" />
                <label for="floatingInput" class="floatingLabel">{{
                  labels.speakingLanguages
                  }}</label>
              </div>
            </div>
            <div class="col-lg-6">
              <label>{{ labels.gender }}<span class="required">*</span> :
              </label>
              &nbsp;
              <input type="radio" [value]="1" [(ngModel)]="gender" name="gender" />
              {{ labels.male }} &nbsp;
              <input type="radio" [value]="2" [(ngModel)]="gender" name="gender" />
              {{ labels.female }} &nbsp;
            </div>
          </div>
          <br />

          <div class="row">
            <div class="col-lg-6" >
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                  [(ngModel)]="address" name="address"></textarea>
                <label for="floatingTextarea">{{ labels.address }} <span class="required">*</span></label>
              </div>
            </div>
            <div class="col-lg-6" *ngIf="docType == true">
              <button class="cancel" (click)="geocode()">
                {{ labels.getLocation }}
              </button>
            </div>
          </div>
          <br />
          <div class="row" *ngIf="docType == true">
            <div class="col-lg-6" *ngIf="docType == true">
              <div class="form-floating">
                <textarea (keypress)="lattitudeValidation($event)" class="form-control"
                  placeholder="Leave a comment here" id="floatingTextarea" [(ngModel)]="latitude"
                  name="latitude"></textarea>
                <label for="floatingTextarea">lattitude <span class="required">*</span></label>
              </div>
            </div>
            <div class="col-lg-4" *ngIf="docType == true">
              <!-- <div class="input-group mb-3">
                            
                            <input type="text" class="form-control" step="height: 58px"  [(ngModel)]="longitude" name="longitude" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2">longitude</span>
                          </div> -->
              <div class="form-floating">
                <textarea (keypress)="lattitudeValidation($event)" class="form-control"
                  placeholder="Leave a comment here" id="floatingTextarea" [(ngModel)]="longitude"
                  name="longitude"></textarea>
                <label for="floatingTextarea">longitude <span class="required">*</span></label>
              </div>
            </div>
            <div class="col-lg-2" *ngIf="docType == true">
              <button type="button" class="save" style="font-size: 10px" (click)="updatedetails()">
                {{ labels.update }}
              </button>
            </div>
          </div>
          <br />

          <div class="row">
            <div class="col-lg-6">
              <select class="form-control" (change)="getCountryID($event)" [(ngModel)]="countryID" name="countryID">
                <option value="">{{ labels.selectCountry }}</option>
                <option *ngFor="let cou of countryList" value="{{ cou.id }}">
                  {{ cou.short }}
                </option>
              </select>
            </div>
            <div class="col-lg-6" *ngIf="docType == true">
              <select class="form-control" (change)="GetRegionID($event)" [(ngModel)]="regionID" name="regionID">
                <option value="0">Select</option>
                <option *ngFor="let reg of regionList" value="{{ reg.id }}">
                  {{ reg.regionName }}
                </option>
              </select>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-lg-6" *ngIf="docType == true">
              <select class="form-control" [(ngModel)]="cityID" name="cityID" (change)="GetCityID($event)">
                <option value="">Select</option>
                <option *ngFor="let city of cityList" value="{{ city.id }}">
                  {{ city.short }}
                </option>
              </select>
            </div>
            <div class="col-lg-6" *ngIf="docType == true">
              <select class="form-control" [(ngModel)]="areaID" name="areaID" (change)="GetAreaID($event)">
                <option value="">Select</option>
                <option *ngFor="let area of areaList" value="{{ area.id }}">
                  {{ area.areaName }}
                </option>
              </select>
            </div>
          </div>
          <br />
          <div class="row" *ngIf="docType == true">
            <label>{{labels.selectarea}}</label>
            <div class="col-lg-6">
              <div class="form-floating mb-3">
                <input (keypress)="numberOnly($event)" type="email" class="form-control inputfield" id="floatingInput"
                  placeholder="Phone no" [(ngModel)]="docnearesNumber" name="docnearesNumber" required />
                <label for="floatingInput" class="floatingLabel">KM<span class="required">*</span></label>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-floating mb-3">
                <input type="email" class="form-control inputfield" id="floatingInput" placeholder="Phone no"
                  [(ngModel)]="docNearestkm" name="docNearestkm" required />
                <label for="floatingInput" class="floatingLabel">Distance<span class="required">*</span></label>
              </div>
            </div>
          </div>
          <div class="row">
            <!--  <div class="col-lg-6">
              <select class="form-control" (change)="getCategoryID($event)">
                <option selected>{{ labels.selectCategory }}</option>
                <option value="1">{{ labels.doctors }}</option>
                <option value="2">{{ labels.otherProffessionals }}</option>
              </select>
            </div> -->
            <div class="col-lg-6">
              <select class="form-control" (change)="GetDepartmentID($event)" required [(ngModel)]="departmentID"
                name="departmentID">
                <option value="0" selected>
                  {{ labels.selectDepartment }}
                </option>
                <option *ngFor="let department of departmentList" value="{{ department.id }}">
                  {{ department.departmentname }}
                </option>
              </select>
            </div>

          </div>
          <br />
          <div class="row">

            <div class="col-lg-6">
              <div class="form-floating mb-3">
                <input (keypress)="numberOnly($event)" type="text" class="form-control inputfield" id="floatingInput"
                  placeholder="Experience" [(ngModel)]="experience" name="experience" />
                <label for="floatingInput" class="floatingLabel">{{
                  labels.experience
                  }} </label>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                  [(ngModel)]="professionalProfile" name="professionalProfile"></textarea>
                <label for="floatingTextarea">{{
                  labels.proffessionalProfile
                  }}</label>
              </div>
            </div>
          </div>
          <br />
          <div class="row">

            <!-- <div class="col-lg-6">
             
              <ngx-dropzone (change)="onSelectDoctorPhoto($event)" class="dropZone">
                <ngx-dropzone-label>{{ labels.photo }}</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files1" [removable]="true" (removed)="ondoctorPhotoRemove(f)">
                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
            </div> -->
            <div class="col-lg-12">
              <label>{{ labels.documentsVerified }}</label>&nbsp;
              <input type="radio" [value]="true" [(ngModel)]="documentsVerified" name="documentsVerified" />{{
              labels.yes }} &nbsp;
              <input type="radio" [value]="false" [(ngModel)]="documentsVerified" name="documentsVerified" />
              {{ labels.no }} &nbsp;
            </div>
          </div>
          <br />

          <div class="row">

            <div class="col-lg-12">
              <label>{{ labels.mallPractice }}</label>&nbsp;
              <input type="radio" [value]="true" [(ngModel)]="mallPractise" name="mallPractise" />
              {{ labels.yes }} &nbsp;
              <input type="radio" [value]="false" [(ngModel)]="mallPractise" name="mallPractise" />
              {{ labels.no }} &nbsp;
            </div>
          </div>
          <br />

          <div class="row">
            <div class="col-lg-12">
              <label>{{ labels.refferedDoctor }}</label>&nbsp;
              <input type="radio" [value]="true" [(ngModel)]="refferedDoctor" name="refferedDoctor" />
              {{ labels.yes }}
              &nbsp;
              <input type="radio" [value]="false" [(ngModel)]="refferedDoctor" name="refferedDoctor" />
              {{ labels.no }}
              &nbsp;
            </div>
          </div><br>


          <div class="row">

            <div class="col-lg-6">
              <select class="form-control" (change)="getSlotDurationID($event)" [(ngModel)]="slotID" name="slotID"
                [disabled]="editSlot==0">
                <option value="0" selected>{{ labels.selectSlotType }}</option>
                <option value="1">15 Minutes</option>
                <option value="2">30 Minutes</option>
                <option value="3">45 Minutes</option>
                <option value="4">1 heure</option>
              </select>
            </div>
            <div class="col-lg-5">
              <button class="msg" data-bs-toggle="modal" data-bs-target="#editslot">Message important</button>
            </div>

          </div><br>
          <div class="row">
            <div class="col-lg-6">
              <!-- <label>Photo</label><br> -->
              <ngx-dropzone (change)="onSelectdocSignature($event)" class="dropZone">
                <ngx-dropzone-label>{{ labels.signature }}</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files1" [removable]="true"
                  (removed)="ondoctorsignatureRemove(f)">
                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
            </div>
            <div class="col-lg-6">
              <img src="{{sigPhoto}}" style="height: 50px;width:100px">
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />

    <div class="card">
      <div class="row">
        <h4 class="sideheading">{{ labels.medicalRegistration }}</h4>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-3">
          <div class="form-floating mb-3">
            <input type="text" class="form-control inputfield" id="floatingInput" [(ngModel)]="registrationNumber"
              name="registrationNumber" placeholder="Registraion Number" />
            <label for="floatingInput" class="floatingLabel">{{
              labels.registrationNumber
              }}</label>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-floating mb-3">
            <input type="text" class="form-control inputfield" id="floatingInput" [(ngModel)]="registrationCounsil"
              name="registrationCounsil" placeholder="Registraion Council" />
            <label for="floatingInput" class="floatingLabel">{{
              labels.registrationCouncil
              }}</label>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-floating mb-3">
            <input type="text" class="form-control inputfield" id="floatingInput" [(ngModel)]="registrationYear"
              name="registrationYear" placeholder="Registraion Year" />
            <label for="floatingInput" class="floatingLabel">{{
              labels.registrationYear
              }}</label>
          </div>
        </div>
      </div>
      <br />

      <div class="row">
        <!-- <div class="col-lg-4">
                <input type="text" placeholder="{{labels.validTill}}" class="form-control" [(ngModel)]="validTill" bsDatepicker
                    [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }"
                    (ngModelChange)="getExonerationPerioddate(exonerationPeriodFromDate)">
            </div> -->
        <!-- <div class="col-lg-4">
               
                <ngx-dropzone (change)="onSelectregistrationProof($event)" style="width:100% ;height: auto;">
                    <ngx-dropzone-label>{{labels.registrationProof}}</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files3" [removable]="true"
                        (removed)="onRemoveMedicalRegistartion(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
            </div> -->
      </div>
    </div>
    <br />
    <div class="card">
      <div class="row">
        <h4 class="sideheading">{{ labels.education }}</h4>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-3">
          <select class="dropdown form-control" (change)="GetDegreeID($event)">
            <option value="" selected>{{ labels.selectDegree }}</option>
            <option *ngFor="let degree of degreeList" value="{{ degree.id }}">
              {{ degree.short }}
            </option>
          </select>
        </div>
        <div class="col-lg-3">
          <div class="form-floating mb-3">
            <input type="text" class="form-control inputfield" id="floatingInput" placeholder="College"
              [(ngModel)]="colleageName" name="colleageName" />
            <label for="floatingInput" class="floatingLabel">{{
              labels.college
              }}</label>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-floating mb-3">
            <input (keypress)="numberOnly($event)" type="text" class="form-control inputfield" id="floatingInput"
              [(ngModel)]="yearOfPassing" name="yearOfPassing" placeholder="Year of Passing" />
            <label for="floatingInput" class="floatingLabel">{{
              labels.yearofPassing
              }}</label>
          </div>
        </div>
        <br />
        <div class="col-lg-3">
          <button class="save" (click)="insertdoctoreducation()">
            {{ labels.add }}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <table>
            <thead>
              <tr>
                <th>{{ labels.degree }}</th>
                <th>{{ labels.college }}</th>
                <th>{{ labels.yearofPassing }}</th>
              </tr>
              <tr *ngFor="let edu of educationList">
                <td>{{ edu.short }}</td>
                <td>{{ edu.collegeName }}</td>
                <td>{{ edu.yearOfPassing }}</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <br />
    </div>
    <br />

    <div class="card">
      <div class="row">
        <h4 class="sideheading">
          {{ labels.businessRegistrationAndInvoicing }}
        </h4>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-3">
          <div class="form-floating mb-3">
            <input type="text" class="form-control inputfield" id="floatingInput" [(ngModel)]="taxIdentification"
              name="taxIdentification" placeholder="Tax identification " />
            <label for="floatingInput" class="floatingLabel">{{
              labels.taxIdentification
              }}</label>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-floating mb-3">
            <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Business ID"
              [(ngModel)]="businessID" name="businessID" />
            <label for="floatingInput" class="floatingLabel">{{
              labels.businessID
              }}</label>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-floating mb-3">
            <input type="text" class="form-control inputfield" id="floatingInput"
              placeholder="Commercial registration & city" [(ngModel)]="commercialCity" name="commercialCity" />
            <label for="floatingInput" class="floatingLabel">{{
              labels.commercialRegistrationAndCity
              }}</label>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-3">
          <div class="form-floating mb-3">
            <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Tax professional"
              [(ngModel)]="taxProfessional" name="taxProfessional" />
            <label for="floatingInput" class="floatingLabel">{{
              labels.taxProffessional
              }}</label>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-floating mb-3">
            <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Social security fund no"
              [(ngModel)]="socialSeccurityFundno" name="socialSeccurityFundno" />
            <label for="floatingInput" class="floatingLabel">{{
              labels.socialSecurityfundno
              }}</label>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="card">
      <div class="row">
        <h4 class="sideheading">{{ labels.bankDetails }}</h4>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-3">
          <div class="form-floating mb-3">
            <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Name Of The Bank"
              [(ngModel)]="nameOfBank" name="nameOfBank" />
            <label for="floatingInput" class="floatingLabel">{{
              labels.nameofthebank
              }}</label>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-floating mb-3">
            <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Account Name"
              [(ngModel)]="accountName" name="accountName" />
            <label for="floatingInput" class="floatingLabel">{{
              labels.accountName
              }}</label>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-floating mb-3">
            <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Account Number"
              [(ngModel)]="accountNumber" name="accountNumber" />
            <label for="floatingInput" class="floatingLabel">{{
              labels.accountNumber
              }}</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <label>{{ labels.exonerated }}</label>&nbsp;
          <input type="radio" [value]="1" [(ngModel)]="vatCheck" name="vatCheck" />&nbsp;{{ labels.yes }}&nbsp;
          <input type="radio" [value]="0" [(ngModel)]="vatCheck" name="vatCheck" />&nbsp;{{ labels.no }}
        </div>

        <div class="col-lg-3">
          <div class="form-floating mb-3">
            <input (keypress)="numberOnly($event)" type="text" class="form-control inputfield" id="floatingInput"
              placeholder="Vat percentage" [(ngModel)]="vatPercentage" name="vatPercentage" />
            <label for="floatingInput" class="floatingLabel">{{
              labels.vatPercentage
              }}</label>
          </div>
        </div>
        <div class="col-lg-3" *ngIf="vatCheck == 1">
          <input type="text" placeholder="Exoneration Period FromDate" class="form-control"
            [(ngModel)]="exonerationPeriodFromDate" name="exonerationPeriodFromDate" bsDatepicker
            [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }" (ngModelChange)="
              getExonerationPerioddate(exonerationPeriodFromDate)
            " />
        </div>
        <div class="col-lg-3" *ngIf="vatCheck == 1">
          <input type="text" placeholder="Exoneration Perio To Date" class="form-control"
            [(ngModel)]="exonerationPerioToDate" name="exonerationPerioToDate" bsDatepicker
            [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }" />
        </div>
      </div>
      <div class="row" *ngIf="hospitalclinicid==590">
        <div class="col-lg-10">
          <label>{{ labels.subscriptionType }}</label> &nbsp;
          <input (keypress)="numberOnly($event)" type="radio" [value]="1" [(ngModel)]="subscriptionTypeID"
            name="subscriptionTypeID" />
          {{ labels.monthly }}&nbsp;
          <input (keypress)="numberOnly($event)" type="radio" [value]="2" [(ngModel)]="subscriptionTypeID"
            name="subscriptionTypeID" />{{ labels.appointmentPercentage }}
          &nbsp;
          <input type="radio" [value]="3" [(ngModel)]="subscriptionTypeID" name="subscriptionTypeID" />
          {{ labels.both }} &nbsp;
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-3" *ngIf="subscriptionTypeID == 1 || subscriptionTypeID == 3">
          <div class="form-floating mb-3">
            <input (keypress)="numberOnly($event)" type="text" class="form-control inputfield" id="floatingInput"
              placeholder="Exoneration period to" [(ngModel)]="montlySubscription" name="montlySubscription" />
            <label for="floatingInput" class="floatingLabel">{{
              labels.monthly
              }}</label>
          </div>
        </div>
        <br />
        <div class="col-lg-3" *ngIf="subscriptionTypeID == 2 || subscriptionTypeID == 3">
          <div class="form-floating mb-3">
            <input (keypress)="numberOnly($event)" type="text" class="form-control inputfield" id="floatingInput"
              placeholder="AppointmentPercentage" [(ngModel)]="AppointmentPercentage" name="AppointmentPercentage" />
            <label for="floatingInput" class="floatingLabel">{{
              labels.appointmentPercentage
              }}</label>
          </div>
        </div>
        <br />
      </div>

      <div class="row">
        <div class="col-lg-3">
          <select class="form-control" (change)="getMonthCycleID($event)" [(ngModel)]="cycleID" name="cycleID" required>
            <option value="">{{ labels.selectPaymentCycle }}</option>
            <option *ngFor="let deta of paymenyCycleList" value="{{ deta.id }}">
              {{ deta.monthlyType }}
            </option>
          </select>
        </div>

        <div class="col-lg-5">
          <label>{{ labels.paymentType }} : &nbsp;</label>
          <input type="radio" [value]="1" [(ngModel)]="typeOfPayment" name="typeOfPayment" required />&nbsp;{{
          labels.recurrent }}&nbsp;&nbsp;
          <input type="radio" [value]="2" [(ngModel)]="typeOfPayment" name="typeOfPayment" required />&nbsp;{{
          labels.unique }}
        </div>
      </div>
    </div>
    <br />

    <div class="card">
      <div class="row">
        <h4 class="sideheading">{{ labels.modeOfPayments }}</h4>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-1">
          <label>{{ labels.cash }}</label>
        </div>
        <div class="col-lg-2">
          <input type="radio" [(ngModel)]="cash" name="cash" [value]="true" required />&nbsp;{{ labels.yes
          }}&nbsp;&nbsp;
          <input type="radio" [(ngModel)]="cash" name="cash" [value]="false" required />&nbsp;{{ labels.no
          }}&nbsp;&nbsp;
        </div>

        <div class="col-lg-1">
          <label>{{ labels.wallet }}</label>
        </div>
        <div class="col-lg-2">
          <input type="radio" [(ngModel)]="wallet" name="wallet" required [value]="true" />&nbsp;{{ labels.yes
          }}&nbsp;&nbsp;&nbsp;
          <input type="radio" [(ngModel)]="wallet" name="wallet" required [value]="false" />&nbsp;{{ labels.no
          }}&nbsp;&nbsp;&nbsp;
        </div>

        <div class="col-lg-2">
          {{ labels.creditcard }}
        </div>
        <div class="col-lg-2">
          <input type="radio" [(ngModel)]="creditCard" name="creditCard" required [value]="true" />&nbsp;{{ labels.yes
          }}&nbsp;&nbsp;&nbsp;
          <input type="radio" [(ngModel)]="creditCard" name="creditCard" required [value]="false" />&nbsp;{{ labels.no
          }}&nbsp;&nbsp;&nbsp;
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-2">
          <button type="button" class="save" (click)="updatedetails()" [disabled]="doctoreditform.form.invalid">
            {{ labels.update }}
          </button>
        </div>
        <div class="col-lg-1">
          <button type="button" class="save" routerLink="/countrymanager/Doctordash">
            {{ labels.back }}
          </button>
        </div>
      </div>
    </div>
    <br />
  </form>
</div>










<div class="modal fade" id="editslot" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content card card-hover">
      <div class="modal-header">

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4 class="text-center">{{labels.mainHeading}}</h4><br>
        <p>{{labels.editSlotText}}</p>
        <br>
        <h6>{{labels.messageHeader}}</h6>
        <br>
        <button class="accept" (click)="Accept()" data-bs-dismiss="modal">Accept</button>
        <button class="reject" (click)="Reject()" data-bs-dismiss="modal">Reject</button>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>







<div class="modal fade" id="photos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content card">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Photos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6" *ngFor="let photo of identityphoto">
              <img src="{{photo.photoURL}}" alt="" style="width: 75%;height: 50%;"><br><br>
              <button class="add" (click)="EditPhotoMultiple(photo.id)">{{labels.edits}}</button>
              <button style="float: right;" class="add" (click)="deletePhotos(photo.id)">{{labels.delete}}</button>
            </div>
          </div>
        </div><br>
        <div class="row" *ngIf="showadPhotos==1 ||updatePhotoId!=0">
          <div class="col-lg-3">

            <ngx-dropzone (change)="getIdentityProof($event)" class="dropZone">
              <ngx-dropzone-label>{{ labels.photo }}</ngx-dropzone-label>
              <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
          </div>
          <div class="col-lg-3">
            <button class="add" (click)="insertidentityProof()" *ngIf="showadPhotos==1"
              data-bs-dismiss="modal">{{labels.save}}</button>
            <button class="add" *ngIf="updatePhotoId!=0" data-bs-dismiss="modal"
              (click)="UpdateIdentityproof()">{{labels.update}}</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="close" (click)="showAdd()">{{labels.add}}</button>
        <button type="button" class="close" data-bs-dismiss="modal">{{labels.close}}</button>


      </div>
    </div>
  </div>
</div>