<app-loader *ngIf="loader==true"></app-loader>
<app-sms></app-sms>
<div class="container-fluid headercard card-hover headerspace">
    <div class="row">
        <div class="col-lg-8">
            <h5 class="headings">{{labels.payments}}</h5>
        </div>
    </div>
</div>
<div class="container-fluid card card-hover headerspace">
    <div class="row">
        <div class="col-lg-3">
            <input type="text"
            placeholder="Select Date"
            class="form-control"
            bsDaterangepicker
            [(ngModel)]="bsRangeValue" (ngModelChange)="selectDate(bsRangeValue)"
            [bsConfig]="{ isAnimated: true }" [bsConfig]="{ showWeekNumbers:false }">
        </div>   
        <div class="col-lg-3">
            <div class="form-floating mb-3">
                <input type="email" class="form-control inputfield" id="floatingInput" placeholder="Search" [(ngModel)]="search">
                <label for="floatingInput" class="floatingLabel">{{labels.search}}</label>
              </div>
        </div>
        <div class="col-lg-3">
            <select class="form-control" (change)="SelectAppointmentType($event)">
              <option value="0">{{labels.select}}</option>
              <option value="1">{{labels.inClinic}}</option>
              <option value="2">{{labels.videoCall}}</option>
              <option value="5">{{labels.homeVisit}}</option>
            </select>
          </div>
          <div class="col-lg-3 countClass">
            <label>{{labels.total}} : {{GrandTotal}}</label>  &nbsp;&nbsp;
            <label>{{labels.count}} : {{count}} </label>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-lg-12 tableoverflow">
            <table class="table table-hover">
                <tr>
                  <th>{{labels.appointmentID}}</th>
                  <th>{{labels.appointdate}}</th>
                  <th>{{labels.appointTime}}</th>
                  <th>{{labels.department}}</th>
                  <!-- <th>{{labels.doctor}}</th> -->
                  <th>{{labels.patientname}}</th>
                  <th>{{labels.paymentType}}</th>
                  <th>{{labels.reason}}</th>
                  <th>{{labels.paidAmount}}</th>
                
                 
                  <th>{{labels.appointmentType}}</th>
               
                  <th>{{labels.status}}</th>
                </tr>
                <tr *ngFor="let details of doctorlist|filter:search| paginate: { id: 'foo', itemsPerPage: 10, currentPage: p}">
                    <td>{{details.appointmentID}}</td>
                    <td>{{details.appointmentdatess}}</td>
                    <td>{{details.slots}}</td>
                    <td>{{details.departmentname}}</td>
                    <!-- <td>{{details.doctorName}}</td> -->
                    <td>{{details.patientName}}</td>
                    <td>{{details.paymentType}}</td>
                      <td>{{details.reasonForVisit}}</td>
                    <td>
                      <label >{{details.paidAmount}}</label>
                    </td>
                
                  
                    <td>{{details.appointmentTypeText}}</td>
                 
                    <td>
                      <label *ngIf=" details.accepted=='1' &&details.cancelled=='0' &&details.docCancelled=='0'
                            &&details.isVisited=='0' &&details.noShow=='0'"
                        style=" color: green;">{{labels.accepted}}</label>
                      <label *ngIf="details.cancelled=='1'" style="color: red;">{{labels.patientCancelled}}</label>
                      <label *ngIf="details.docCancelled=='1'" style="color: red;">{{labels.doctorCancelled}}</label>
        
                      <label *ngIf="details.isVisited=='1'" style="color: orange;">{{labels.visited}}</label>
                      <label *ngIf="details.noShow=='1'" style="color: orange;">{{labels.notVisited}}</label>
                      <label
                        *ngIf="details.isVisited=='0'&&details.accepted=='0'&&details.cancelled=='0'&&details.docCancelled=='0'"
                        style="color: rgb(255, 0, 149);">{{labels.pending}}</label>
        
                    </td>
        
                  </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-12" style="text-align: end">
        <pagination-controls id="foo" (pageChange)="pageChanged($event)" previousLabel="{{labels.previous}}" nextLabel="{{labels.next}}"
            screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div>
</div>















